[2014-05-09 17:04] mercecrosas opened #1 "Zelig5 class design"
Implement flexible ways to use setx, that is, not only to set x and x1.

Related blog: http://datascience.iq.harvard.edu/blog/zelig-5-architecture

[2014-05-09 17:05] mercecrosas opened #2 "JSON method for Zelig"
Write toJSON method to integrate with TwoRavens

[2014-05-09 17:06] mercecrosas opened #3 "Unit testing"
Implement at least for gamma, logit, ls, negbin, poisson, probit

[2014-05-09 17:07] mercecrosas opened #4 "Tobit model incomplete"
Quantities of interest are not implemented for Tobit model

[2014-05-09 17:08] mercecrosas opened #5 "Incomplete negative binomial model"
Need to check quantities of interest

[2014-05-09 17:12] mercecrosas opened #6 "New and improved Documentation"
New documentation, based on Sphinx documentation generator, which automatically converts the documentation for each model into Latex, PDF and HTML for online documentation/guides.
In progress, it need to be uploaded on GitHub and complete.

[2014-05-09 17:13] mercecrosas opened #7 "Review GEE models"
Check and decide if include in core.

[2014-05-09 17:14] mercecrosas opened #8 "Bayes models"
Check and decide if include in core.

[2014-05-09 17:15] mercecrosas opened #9 "Port plots to Zelig5"
For now, plots need be ported from Zelig 4 (There will be more modifications in Zelig 5.1)

[2014-05-09 17:17] mercecrosas opened #10 "Workflow integration: Amelia"
Integrate Amelia II, MatchIt, Zelig 5, WhatIf

http://datascience.iq.harvard.edu/blog/zelig-5-integrated-workflow

[2014-05-27 19:30] #2 closed, assigned to cchoirat

[2014-05-27 19:39] cchoirat opened #11 "Implement OO model structure"

[2014-05-27 19:39] cchoirat opened #12 "Re-implement setx function"

[2014-05-27 19:39] cchoirat opened #13 "Re-implement sim function"

[2014-05-27 19:58] cchoirat opened #14 "Port exp model"

[2014-05-27 19:58] cchoirat opened #15 "Port gamma model"

[2014-05-27 19:58] cchoirat opened #16 "Port logit model"

[2014-05-27 19:59] cchoirat opened #17 "Port lognorm model"

[2014-05-27 19:59] cchoirat opened #18 "Port ls model"

[2014-05-27 19:59] cchoirat opened #19 "Port normal model"

[2014-05-27 19:59] cchoirat opened #20 "Port Poisson model"

[2014-05-27 20:00] cchoirat opened #21 "Port probit model"

[2014-05-27 20:00] #11 closed, assigned to nobody

[2014-05-27 20:00] #12 closed, assigned to nobody

[2014-05-27 20:00] #13 closed, assigned to nobody

[2014-05-27 20:00] #14 closed, assigned to nobody

[2014-05-27 20:00] #15 closed, assigned to nobody

[2014-05-27 20:00] #16 closed, assigned to nobody

[2014-05-27 20:00] #17 closed, assigned to nobody

[2014-05-27 20:00] #18 closed, assigned to nobody

[2014-05-27 20:00] #19 closed, assigned to nobody

[2014-05-27 20:00] #20 closed, assigned to nobody

[2014-05-27 20:00] #21 closed, assigned to nobody

[2014-05-27 20:01] cchoirat opened #22 "Port exp model"

[2014-05-27 20:01] #22 closed, assigned to nobody

[2014-05-27 20:02] cchoirat opened #23 "Port gamma model"
Done!

[2014-05-27 20:02] cchoirat opened #24 "Port logit model"

[2014-05-27 20:02] #24 closed, assigned to nobody

[2014-05-27 20:02] cchoirat opened #25 "Port lognorm model"

[2014-05-27 20:02] #25 closed, assigned to nobody

[2014-05-27 20:03] cchoirat opened #26 "Port normal model"

[2014-05-27 20:03] #26 closed, assigned to nobody

[2014-05-27 20:03] cchoirat opened #27 "Port Poisson model"

[2014-05-27 20:03] #27 closed, assigned to nobody

[2014-05-27 20:03] cchoirat opened #28 "Port probit model"

[2014-05-27 20:03] #28 closed, assigned to nobody

[2014-06-13 17:36] cchoirat opened #29 "Avoid calculating the average on all predvars columns"

[2014-06-13 17:43] cchoirat opened #30 "In-source documentation with ROxygen2"

[2014-06-13 17:48] cchoirat opened #31 "Vignettes of core models"

[2014-06-13 17:51] cchoirat opened #32 "Time Series Module"

[2014-06-13 17:51] cchoirat opened #33 "EI Models Module"

[2014-06-13 17:52] cchoirat opened #34 "Hierarchical Models Module: Phase I"

[2014-06-13 17:53] cchoirat opened #35 "Hierarchical Models Module: Phase II"
- Quantities of interest and plots at different levels of the hierarchy
- Logistic regression
- Generalized linear models

[2014-07-02 22:15] cchoirat opened #36 "Port quantile regression"

[2014-07-08 19:22] tercer opened #37 "Weibull Model"
Port Weibull model to appropriate module

[2014-07-21 16:50] tercer opened #38 "Add option for robust standard errors"
Allow robust standard errors as an option on applicable models where a simple unified function can serve multiple models

[2014-07-21 16:51] tercer opened #39 "Check for model misspecification with King/Roberts test"
Create option to run comparison to robust standard errors as a test for model misspecification.

[2014-07-25 21:46] rjturner opened #40 "install_github("IQSS/Zelig5") fails"
I am trying to install and test Zelig 5, but `install_github("IQSS/Zelig5")` fails with the following:

[code]

`.#model-ls.R` doesn't look like a normal file.  Any idea what is going on?

Ryan

[2014-08-15 22:34] #1 closed, assigned to cchoirat

[2014-08-17 22:43] #9 closed, assigned to tercer

[2014-08-19 19:24] cchoirat opened #41 "Port rare event logit model"

[2014-08-21 19:25] tercer opened #42 "Enable Weighting Generally Across Models"
Design an architecture that allows weighting approaches to be used in models, especially when some such option exists in the wrapped package, but also with unit weighting by dataset adjustment for models without weights as arguments.

[2014-08-21 19:26] tercer opened #43 "Workflow Integration: CEM and MatchIt"
Use weighting architecture in #42 to integrate matched datasets, created by CEM and MatchIt, into models.

[2014-08-21 20:14] #41 closed, assigned to tercer

[2014-08-21 20:15] #4 closed, assigned to tercer

[2014-08-21 20:17] tercer opened #44 "Workflow Integration: WhatIf"
Write utility so that completed Zelig5 objects can be easily used in WhatIf package for counterfactual evaluation.

[2014-08-22 15:31] #5 closed, assigned to cchoirat

[2014-08-25 04:36] #10 closed, assigned to tercer

[2014-08-25 04:38] tercer opened #45 "Workflow Integration: Multiple Imputation"
Need to decide how summary and plot methods handle multiple imputations of a dataset

[2014-08-25 04:41] #3 closed, assigned to cchoirat

[2014-08-25 04:41] #6 closed, assigned to cchoirat

[2014-08-25 21:22] #38 closed, assigned to tercer

[2014-08-26 02:47] #40 closed, assigned to nobody

[2014-08-27 02:30] tercer opened #46 "Improve Summary Method for Imputed Data"
Add utility function for summaries by Rubin's Rules, and allow investigation of subsets of imputed models.

[2014-09-07 21:24] cchoirat opened #47 "Amelia and "by' argument"

[2014-09-07 21:25] #47 closed, assigned to cchoirat

[2014-09-08 21:18] #36 closed, assigned to cchoirat

[2014-09-30 15:17] #7 closed, assigned to cchoirat

[2014-09-30 15:17] #8 closed, assigned to cchoirat

[2014-10-23 16:03] mercecrosas opened #48 "zeligproject.org Launch"
- Friendly home page
- Description from the old Zelig web site
- Explore if docs go into a subdomain: doc.zeligproject,org

[2014-10-29 15:15] cchoirat opened #49 "Scoping rules in wrappers"
An error is raised when Zelig is used within a function, but estimation is still performed.

[2014-10-29 15:16] #49 closed, assigned to cchoirat

[2014-10-29 19:10] cchoirat opened #50 "setx with survreg models (exp, weibull)"
[code]

[2014-10-29 19:19] #37 closed, assigned to cchoirat

[2014-10-30 18:08] cchoirat opened #51 "Port Tobit Bayes"
From Zelig 3.5 (not in Zelig 4)

[2014-10-31 18:43] #50 closed, assigned to cchoirat

[2014-11-03 16:24] #31 closed, assigned to cchoirat

[2014-11-03 16:24] #51 closed, assigned to cchoirat

[2014-11-06 16:20] mercecrosas opened #52 "Documentation: Quick start improvement"
Change the data set, add something more relevant, explain the methodology

[2014-12-04 16:30] #34 closed, assigned to cchoirat

[2014-12-04 16:45] mcrosas opened #53 "Implement Getters and Setters"
Also, think about building from the Zelig obj:

coeff
vcov
predict

[2014-12-08 18:38] mercecrosas opened #54 "Track community usage"
Post question to user when Zelig is used interactively:
"could you opt in to provide usage stats to improve Zelig?"
- Ask to opt in at install time.

[2014-12-08 18:42] mercecrosas opened #55 "Review hosting a R mirror site"
What will it take to host an R mirror site?

[2014-12-08 18:54] mercecrosas opened #56 "Roll outreach, education and community building"
Give users visibility:
place for talks, stories, hear from you, teaching, etc

[2014-12-11 00:19] cchoirat opened #57 "Vignette base url http://docs.zeligproject.org/"

[2014-12-11 16:25] #57 closed, assigned to cchoirat

[2014-12-11 16:29] #48 closed, assigned to nobody

[2014-12-12 05:11] #39 closed, assigned to tercer

[2014-12-12 19:17] cchoirat opened #58 "Write developer's guide"

[2014-12-12 20:00] #56 closed, assigned to mercecrosas

[2014-12-12 20:00] #52 closed, assigned to vjdorazio

[2014-12-12 22:40] #46 closed, assigned to tercer

[2014-12-12 22:53] #58 closed, assigned to cchoirat

[2014-12-13 19:22] tercer opened #59 "Increase availability of robust standard errors"
Add robust standard errors to more models, especially as a precursor to some research into automated diagnostics.

[2014-12-14 20:43] #23 closed, assigned to nobody

[2014-12-16 17:06] tercer opened #60 "Prettification of summary results after setx"
Make summary of Zelig object at the stage where setx() is completed, look simple and more intelligible, rather than default print of the entire object piece with attributes.

[2014-12-16 17:06] #60 closed, assigned to tercer

[2014-12-17 18:56] cchoirat opened #61 "Do not display "by" in summary when there is only one estimated model"

[2014-12-17 18:57] #61 closed, assigned to cchoirat

[2014-12-18 17:38] mercecrosas opened #62 "Doc on Multiple Equations Models"
Here is the google doc for the description of the framework:

https://docs.google.com/document/d/1VfLNyXqy3s22SZdIRw42neWuVHjxyTKe28__k_SkqDY/edit

[2014-12-22 04:35] tercer opened #63 "Quantities of Interest for Negative Binomial"
Need to add predicted values to the Negative Binomial model

[2014-12-23 05:40] #63 closed, assigned to nobody

[2014-12-23 20:00] cchoirat opened #64 "Prettify geeglm call display in Zelig summary"

[2014-12-25 12:16] cchoirat opened #65 "Fix vignette URL in help method"

[2014-12-25 17:55] #64 closed, assigned to cchoirat

[2015-01-05 18:43] #65 closed

[2015-01-08 18:19] tercer opened #66 "Citation Architecture"
Construct new citation architecture to replace citation method and for documentation use.

[2015-01-08 19:56] tercer commented on #66
also replace and update default output from > citation("Zelig")

[2015-01-09 04:57] tercer commented on #66
Every model now has a "packageauthors" field with the authors of the authors from whom the .self$fn function is drawn.

[2015-01-10 03:50] tercer commented on #66
Zelig objects now have a $references() method that supplies formatted references from package descriptions.  These can be seen at work in the "See Also" section of every model doc.

[2015-01-13 04:12] tercer commented on #66
Every model can now have it's own unique references stored in a $refs field, and the $references() method combines model specific stored references, with any references in the package description that the estimator comes from.

[2015-01-14 15:30] tercer commented on #66
References now also accumulate depending on the intermediate steps in the Zelig workflow.

Citations that respect the PackageAuthor < ModelAuthor < ZeligAuthor hierarchy in an "edited volume" analogy, are now fully implemented for all models.

[2015-01-14 15:30] #66 closed

[2015-01-14 16:33] tercer commented on #45
Use of Amelia object now automatically updates references field.

[2015-02-04 20:59] tercer opened #67 "Enable gamma survey model"
Add gamma survey model, using new weighting architecture (#42)

[2015-02-04 21:00] tercer opened #68 "Enable logit survey model"
Add logit survey model, using new weighting architecture (#42)

[2015-02-04 21:00] tercer opened #69 "Enable probit survey model"
Add probit survey model, using new weighting architecture (#42)

[2015-02-04 21:01] tercer opened #70 "Enable normal survey model"
Add normal survey model, using new weighting architecture (#42)

[2015-02-04 21:03] tercer opened #71 "Enable Cox Proportional Hazards Model"
Add Cox Proportional Hazards Model to Zelig

[2015-02-06 01:26] tercer opened #72 "Eliminate Package Dependency Messages on Load"
Eliminate the package dependency messages and reduce the warnings when the Zelig package is loaded via library(Zelig)

[2015-02-06 01:27] tercer opened #73 "Reduce Warnings from Install of Package"
Address and reduce the warning messages presented when installing the package from source.

[2015-02-24 18:29] cchoirat opened #75 "sim with range: same behavior in method and wrapper"
See https://groups.google.com/d/msg/zelig-statistical-software/76k-QNKOHiA/-g9-7pD4iz4J

[2015-02-24 20:13] mcrosas opened #76 "Submit Zelig5 to CRAN"
Prepare code for CRAN:

- [ ] Zelig core at CRAN
- [ ] ZeligChoice at CRAN

[2015-02-24 20:29] mercecrosas opened #77 "GIM Test improvement"
Gary will follow up with Molly for a better estimate.

[2015-02-26 16:24] cchoirat opened #78 "Remove duplicate tools directory"

[2015-02-26 16:47] #78 closed

[2015-03-03 22:03] cchoirat opened #80 "Add ROC plots"

[2015-03-16 16:42] tercer commented on #77
Ratio test criteria defined as 1.5, from Molly.

[2015-03-16 16:43] #73 closed

[2015-03-16 16:43] #72 closed

[2015-03-16 21:39] cchoirat opened #81 "Add qi getters"

[2015-03-18 00:02] mcrosas commented on #77
Show  draft of the output to @thegaryking

[2015-03-24 19:23] mercecrosas opened #82 "Documentation for GIM test"
To add in Zelig Documentation: a short description about the GIM test, as it is used in Zelig, plus a reference to the GIM paper.

[2015-04-08 21:39] cchoirat opened #83 "Data tables with Amelia"
As pointed out in https://groups.google.com/forum/#!topic/zelig-statistical-software/BZlpUMDmusI.

[2015-04-10 20:01] #83 closed

[2015-04-10 20:19] #80 closed

[2015-04-10 21:44] #29 closed

[2015-04-13 17:06] mcrosas commented on #81
Framework is there, If needed, we'll add more on demand.

[2015-04-13 17:06] #81 closed

[2015-04-13 17:09] mcrosas commented on #76
Passed checks but need clean up and zelig-zee account set up.

[2015-04-13 17:23] thegaryking commented on #77
i'd still like to see version 2.  here's my current version:
https://docs.google.com/document/d/16ilzsJKJfS8Sa_BERDHJ8ASWCfEYKeS1olbqqtanAa8/edit

[2015-04-13 17:25] mcrosas commented on #77
Assigning to @cchoirat to review output with @thegaryking

[2015-04-14 16:02] cchoirat opened #84 "New version of jsonlite and readLines warning"

[2015-04-14 20:01] #84 closed

[2015-04-28 19:47] mcrosas opened #85 "Update documentation to include Zelig 5 available in CRAN"
Here is where the documentation should be updated:

http://docs.zeligproject.org/en/latest/installation_quickstart.html#installing-r-and-zelig

[2015-05-11 15:01] #85 closed

[2015-05-11 18:00] #30 closed

[2015-05-11 18:12] mcrosas opened #86 "Zelig 5 summary and architecture paper"

[2015-06-24 15:55] MichaelChirico opened #87 "Bug when using `update` in `ztobit`"
Something is going wrong when using an implicit formula definition within a call to a `zelig-tobit` model.

Using the [documented example](http://docs.zeligproject.org/en/latest/zelig-tobit.html) (by the way, that page needs to be updated to Z5 architecture) works fine:

[code]

However, if we wish to define the formula implicitly (which is done often, e.g., [when we are running different specific

[2015-07-15 19:59] mcrosas commented on #76
Closing this issue, process started, don't need to track in GitHub.

[2015-07-15 19:59] #76 closed

[2015-08-05 08:31] retrography opened #88 "Relogit extremely slow"
I have moved to R from Stata and I am trying to run some `relogit` regressions in R. My data is rather large (in order of tens or hundreds of thousands of observations). I have noticed that it takes an extremely long time (above ten minutes) to run the exact same regressions that would run under Stata in a matter of seconds. I wonder what turns the code so slow here, to this impractical level. I h

[2015-09-29 16:58] tercer commented on #42
Weighting now works generally across all models, including bootstrapping approaches to build datasets when wrapped package does not handle weights.  Weights can be vector of values, or variable name, or MatchIt object.  Checks of the "weights" argument make sure the user specified weights appear valid.

[2015-09-29 16:58] #42 closed

[2015-09-29 17:00] tercer commented on #43
MatchIt is now fully integrated with Zelig.  The output MatchIt object can be passed in place of a dataset (in the "data" argument) without any need for intermediate utility functions (as in previous Zelig versions).  References are automatically added to the reference list for MatchIt and for the particular matching algorithm used, when appropriate.

[2015-09-29 17:04] tercer opened #89 "Treatment Effects Quantities of Interest"
Add treatment effects as a quantity of interest available to Zelig models.
(Was feature present in some models for Zelig 3, was not present for Zelig 4).

[2015-09-29 17:09] tercer opened #90 "GIM Test Improvements"
Research and enable version of GIM test that works on full matrix, not just diagonal.
Allow GIM test to be run on user defined subsets of the covariates by use of arguments.

[2015-09-29 17:10] tercer opened #91 "GAM Models"
Build module for Generalized Additive Models, porting previous models from past Zelig versions to Zelig 5.

[2015-09-29 17:12] tercer opened #92 "Unit Testing"
Create automated unit testing framework so that if wrapped packages change (or break) we have (continuous integration) automated testing of estimation properties.

[2015-10-01 19:45] tercer opened #93 "Dealing with accidental "model" argument in $zelig() method"
"model" is an argument that is needed in the classic zelig() function, and the current helper utility.  For example, model="ls", gives least squares regression.  However, "model" is not needed in the $zelig() method, and if accidentally included, then it is passed on to the wrapped model function.  In lm() this causes an error as "model" is itself an lm() argument (type logical).

In general, we n

[2015-10-02 02:25] tercer opened #94 "Dealing with accidental variable misnaming"
It would be helpful to implement a number of checks against simple errors in specifying the arguments that maybe common.  For example, adding a variable name in a formula, which is not present in the dataset gives an unintuitive error message:
<img width="663" alt="screen shot 2015-10-01 at 10 22 16 pm" src="https://cloud.githubusercontent.com/assets/2085037/10238256/322b1c06-688b-11e5-8fb0-7aea6d

[2015-10-02 19:28] tercer opened #95 "Changes to summary method to reflect user's Zelig call"
The zelig summary method uses each package's summary method for printing/summary.  As such it shows the actual call made to the wrapped package, rather than the call made to Zelig.  As below:

![screen shot 2015-10-02 at 2 32 25 pm](https://cloud.githubusercontent.com/assets/2085037/10255759/871e75a2-691a-11e5-8612-9dabb8cdd707.png)

We need to adjust or overwrite this.

[2015-10-02 19:33] tercer commented on #95
The .self$zelig.out[[.]]$call is now overwritten with .self$zelig.call when the $show() method is called which results in:
![screen shot 2015-10-02 at 3 25 35 pm](https://cloud.githubusercontent.com/assets/2085037/10255804/cf4332f0-691a-11e5-9f74-c562c44b6937.png)

[2015-10-02 19:33] #95 closed

[2015-10-02 19:52] tercer opened #96 "summary method: print method for summary of Zelig output contains options elements"
We use options() to change some of R's defaults for summary and printing, so as to use the original summary methods for wrapped models.  For "summary(z.out)" this works fine:
![screen shot 2015-10-02 at 3 49 48 pm](https://cloud.githubusercontent.com/assets/2085037/10256214/bf427890-691d-11e5-8518-73d9b49b3f26.png)

But for "print(summary(z.out))" the options are added to the object and printed as

[2015-10-03 17:49] #45 closed

[2015-10-03 17:50] #43 closed

[2015-10-21 20:20] tercer commented on #59
lognorm and weibull models now covered, by repeated call back to survival package (rather than use of sandwich package as possible on more typical glm models)

[2015-10-23 19:34] tercer commented on #59
tobit and quantile models now covered by individual, package specific approaches.

[2015-10-23 19:34] #59 closed

[2015-10-26 02:56] cchoirat opened #98 "Rely on 'outcome' field (continuous, discrete) for qi display"

[2015-10-28 05:06] #92 closed

[2015-10-29 14:50] cchoirat commented on #91
https://github.com/IQSS/ZeligGAM

[2015-10-29 14:50] #91 closed

[2015-11-02 19:55] tercer opened #100 "move from plyr::mutate() to dpylr::mutate() or other solution"
We use the mutate function in the plyr package because its behaviour is slightly different from mutate function in the dplyr package.  This was a good solution during development, but having to import both the plyr and dplyr packages, which share most of the same function names, is causing issues with CRAN.

[2015-11-02 19:55] tercer commented on #100
Present improvement but not solution is to selectively import the one function we need as:
importFrom(plyr,mutate)

[2015-11-03 21:01] tercer commented on #100
Created an internal function zelig::zeligPlyrMutate() in /R/utils.R to replace plry::mutate() and allow removal of plyr from zelig namespace.  Solution for present, but long run should look at ideal mutate behaviour in Zelig.

[2015-11-10 19:53] tercer commented on #100
Also, restricted sole use of plyr to plyr::llply, and made explicit with NAMESPACE importFrom("plyr", "llply")

[2015-11-10 19:53] #100 closed

[2015-11-12 03:40] TimBock opened #104 "normal.survey broken"
I cannot replicate the example in http://www.idg.pl/mirrors/CRAN/web/packages/Zelig/vignettes/normal.survey.pdf.

When I run what I think is the code in the example, I get an error:

Supplied weights argument is not a vector or a variable name in the dataset, and will be ignored.

Error in eval(expr, envir, enclos) : attempt to apply non-function

When I try and fix, I get a different problem, whi

[2015-11-18 05:38] tercer commented on #53
Added long needed getters for extracting quantities of interest directly from Zelig object, by name (such as "ev" for expected value, "pv" for predicted value).   See method $getqi()

[2015-11-18 05:38] #53 closed

[2015-11-20 23:12] tercer commented on #93
Put in check, and solution to override accidents, while giving warning.  Example is:

![screen shot 2015-11-20 at 6 07 55 pm](https://cloud.githubusercontent.com/assets/2085037/11314284/23944a70-8fb2-11e5-96c1-f75add2132c0.png)

[2015-11-20 23:12] #93 closed

[2015-11-24 22:10] enbrown opened #106 "setval doesn't appropriately handle logical values"
The function `setval` in Zelig/R/utils.R is called from `setx` (indirectly). It doesn't appear to handle logical values correctly which causes an error. For example, if treated is a boolean column:

`z5$setx1(treated = FALSE)`

results in the error:

`Error in setval(dataset[n[ma]][i][[1]], s[n[ma]][i][[1]]) : Wrong factor`

It appears as though the `setval` function is written expecting a numeric

[2015-11-25 18:14] tercer opened #107 "Summary has some occasional failure with quantities of interest"
There is some issue occasionally breaking the summary function when summarizing simulated quantities of interests.  This comes from running through the example in zeligproject.org for the binary logit model:

![screen shot 2015-11-25 at 1 10 58 pm](https://cloud.githubusercontent.com/assets/2085037/11405478/13bae696-9376-11e5-9470-e2d0620df3cc.png)

[2015-11-25 18:59] tercer commented on #107
The root problem is that transpose "t()", which is being relied on for reshaping type table into type matrix, doesn't work on type table if the levels are different across list elements.

[2015-11-26 17:37] tercer commented on #107
Fixed.  In previous example, see the zero entry:

<img width="238" alt="screen shot 2015-11-26 at 12 33 07 pm" src="https://cloud.githubusercontent.com/assets/2085037/11428516/3fe490fe-943a-11e5-9f23-606d5f5a0987.png">

The existence of table.levels() utility function in Zelig4 (which is still present for use in Zelig5 in utils.R) https://github.com/IQSS/Zelig4/blob/701a8787a3cf23147037a15f7dc61b7

[2015-11-26 17:37] #107 closed

[2015-11-29 10:00] christophergandrud opened #108 "normal.bayes appears to be broken in 5.0-8"
It appears that normal.bayes models are broken in the newest version of Zelig. For example, in the knitted documentation the model seems to fail: http://docs.zeligproject.org/en/latest/zelig-normalbayes.html. I get similar results on my own system.

[2015-12-08 01:23] tercer commented on #104
Tim,
If you are using version 5, normal.survey is not currently implemented in Zelig version 5.  However, it is now being implemented and should release with Zelig 5.0-10.  You can follow issue #70 for progress.  It has just gone up on a dev branch and should be in Beta by the end of the week.  I'll close this issue when this model is in production and live on the CRAN repository, and has document

[2015-12-08 01:32] tercer commented on #70
The model normal-survey is now implemented in it's own development branch.  Is fully working and supports both designs created by survey::svydesign and survey::svrepdesign.  Also has Monte Carlo unit test implemented.  Needs additional testing, together with implementation of other survey style models.  Needs documentation on http://zeligproject.org site.

<img width="620" alt="screen shot 2015-12

[2015-12-08 05:02] tercer opened #109 "Enable Poisson Survey Model"
Add new survey model to Zelig, of Poisson regression with survey weighting.

[2015-12-08 20:45] tercer commented on #109
The model poisson-survey is now implemented in it's own development branch. Is fully working and supports both designs created by survey::svydesign and survey::svrepdesign. Also has Monte Carlo unit test implemented. Needs additional testing, together with implementation of other survey style models. Needs documentation on http://zeligproject.org site.

![screen shot 2015-12-08 at 3 42 27 pm](http

[2015-12-08 20:45] tercer commented on #67
The model gamma-survey is now implemented in it's own development branch. Is fully working and supports both designs created by survey::svydesign and survey::svrepdesign. Also has Monte Carlo unit test implemented. Needs additional testing, together with implementation of other survey style models. Needs documentation on http://zeligproject.org site.

![screen shot 2015-12-08 at 3 43 02 pm](https:

[2015-12-08 21:58] tercer commented on #69
The model probit-survey is now implemented in it's own development branch. Is fully working and supports both designs created by survey::svydesign and survey::svrepdesign. Needs:
*Monte Carlo unit test.
*Additional testing.
*Documentation on http://zeligproject.org site.

[2015-12-08 22:00] tercer commented on #68
The model probit-survey is now implemented in it's own development branch. Is fully working and supports both designs created by survey::svydesign and survey::svrepdesign. Needs:
*Monte Carlo unit test.
*Additional testing.
*Documentation on http://zeligproject.org site.

[2015-12-09 20:29] tercer commented on #67
Everything complete.  Documentation at: http://docs.zeligproject.org/en/latest/zelig-gammasurvey.html

[2015-12-09 20:29] #67 closed

[2015-12-09 20:30] tercer commented on #70
Everything complete.  Documentation available at: http://docs.zeligproject.org/en/latest/zelig-normalsurvey.html

[2015-12-09 20:30] #70 closed

[2015-12-09 20:31] tercer commented on #109
Everything complete.  Documentation available at: http://docs.zeligproject.org/en/latest/zelig-poissonsurvey.html

[2015-12-09 20:31] #109 closed

[2015-12-09 21:01] tercer commented on #69
Everything complete. Documentation available at: http://docs.zeligproject.org/en/latest/zelig-probitnsurvey.html

[2015-12-09 21:01] #69 closed

[2015-12-09 21:02] tercer commented on #68
Everything complete. Documentation available at: http://docs.zeligproject.org/en/latest/zelig-logitsurvey.html

[2015-12-09 21:02] #68 closed

[2015-12-09 21:43] tercer commented on #104
The survey models {normal, poisson, logit, probit, gamma}-survey are now available on the Beta of Zelig 5.0-10.

The Beta is available from the IQSS repository as:
install.packages("Zelig", type = "source", repos = "http://r.iq.harvard.edu/")

Documentation for all the survey models is live on http://zeligproject.org for example, for normalsurvey:
http://docs.zeligproject.org/en/latest/zelig-norma

[2016-02-09 19:42] izahn opened #112 "Separate data package?"
I'm slowing working on getting up to speed with the new Zelig package. A couple of things are making it more difficult than I'd like. One is that there are about 20 documented data sets distributed with the package, which clutters up the documentation and makes it harder to find function/class/method documentation. This could be improved by splitting out the data into a separate package, say `Zeli

[2016-02-14 19:37] norakirk opened #113 "ZeligMultilevel"
I have run multi-level models in the newest version Zelig but, unfortunately, it did not work, I down graded Zelig and R - it did. However, commands for setting values and quantities of interest are still unable to fit the data.

[2016-02-16 21:44] tercer opened #114 "Deprecating old pkgDepends(), package.dependencies()"
We had a note from CRAN asking us to remove pkgDepends() and package.dependencies() as these will be deprecated in R.

Note was sent to the R-devel list as well as cc-ed to Zelig maintainer, so assume this is public correspondence.  Note follows:

We will deprecate the functions pkgDepends(), package.dependencies()
and 2-3 less prominent ones from package tools,
in R's development version (short "

[2016-02-21 16:28] tercer commented on #114
Resolved via correspondence with CRAN.

[2016-02-21 16:28] #114 closed

[2016-02-22 11:25] rubenarslan opened #115 "R errors in documentation"
http://docs.zeligproject.org/en/latest/using-Zelig-with-Amelia.html

[2016-02-22 13:44] tercer commented on #115
The code examples in the docs have been down since Monday Feb 15th, because of an issue installing Zelig on the Virtual Machine we are using.  Christine has been working on it, and I'll update this issue when it is resolved, hopefully quite shortly.

[2016-02-23 19:35] pdurbin commented on #115
## Before

![using_zelig_with_the_amelia_package_for_missing_data_ _zelig_project_-_2016-02-23_14 32 33](https://cloud.githubusercontent.com/assets/21006/13264073/82873bc8-da3a-11e5-97da-33b64944d9d4.png)

## After

![using_zelig_with_the_amelia_package_for_missing_data_ _zelig_project_-_2016-02-23_14 33 41](https://cloud.githubusercontent.com/assets/21006/13264086/8bac17aa-da3a-11e5-930d-19c760c0

[2016-02-23 19:39] #115 closed

[2016-03-02 16:44] tercer commented on #32
Full suite of ARIMA models built for Zelig, including new QI's and new plot functions.
![screen shot 2016-03-02 at 11 43 59 am](https://cloud.githubusercontent.com/assets/2085037/13467417/25773b94-e06c-11e5-9122-4641073444f3.png)

[2016-03-02 23:19] cchoirat opened #116 "Allow custom function in 'setx' (not only mean)"

[2016-03-04 21:21] tercer opened #118 "Bootstrap Utility"
Implement a bootstrap utility to draw resampled datasets and recompute the Zelig model efficiently on each dataset using dplyr architecture for "by" and imputed datasets.

[2016-03-04 21:22] tercer opened #119 "Bootstrap Summaries"
Modify the summary method of Zelig to display averaged results across parameters from bootstrapped datasets.

[2016-03-04 21:25] tercer opened #120 "Bootstrap Quantity of Interest Simulations"
Make Zelig use the bootstrapped distribution to generate the distribution of simulated parameters for constructing quantities of interest.

Relatedly, make the plot of summary methods for quantities of interest unite the results over the different bootstrapped models.

[2016-03-04 21:37] tercer commented on #118
Finished.  Uses new argument, "bootstrap" which is TRUE, FALSE or numeric to change the number of datasets from default of 100.

![screen shot 2016-03-04 at 4 36 38 pm](https://cloud.githubusercontent.com/assets/2085037/13540935/52d944bc-e227-11e5-8d55-819a9a2ff534.png)

[2016-03-04 21:37] #118 closed

[2016-03-05 00:39] tercer commented on #119
Done.

![screen shot 2016-03-04 at 7 38 24 pm](https://cloud.githubusercontent.com/assets/2085037/13544134/bda57a86-e240-11e5-94c6-51c47a21619b.png)

[2016-03-05 00:39] #119 closed

[2016-03-05 06:58] tercer commented on #120
Done.  Together with #119 #118 this completes the bootstrap implementation for version 5.0-10.

Future versions might explore non-parametric summaries of parameter uncertainty, particularly if methods for small-samples are explored.  If Zelig is pushed to work with datasets of increasing size, the stacked dataset architecture might be replaced with simply an index to observations in each bootstrap

[2016-03-05 06:58] #120 closed

[2016-03-08 01:24] tercer opened #121 "Reconfigure architecture for parameter generation"
Slightly generalize the parameter generation architecture, especially the $param() method, so that different mechanisms for constructing the set of model parameters are easily called and interchanged depending on need.

As first step, we need to switch between the multivariate normal approach of the standard Zelig algorithm, and the point estimates of datasets (useful for bootstraps).  In the futu

[2016-03-09 16:32] tercer opened #123 "Reconfigure set() when working with the "by"-architecture to allow dataset-level calculations."
The set() method is at the heart of every way we set covariates to create stories -- points of interest in the covariate space -- for generating quantities of interest (QI's).

The "by" architecture allows Zelig to run many similar models across numerous different datasets (or slices of the same dataset).  Presently, whatever rules are used in set() operate independently on each such dataset.  Dep

[2016-03-09 21:18] tercer commented on #123
Solution built, using fields in the Zelig object, and default values for Imputed and Bootstrapped datasets.  Could explore opening this up the to the user directly, perhaps with arguments to the various sim*() methods.

[2016-03-09 21:18] #123 closed

[2016-03-09 21:20] tercer commented on #121
Built out in a general fashion.  If argument is not available, methods that depend on the argument (like the bootstrap) give the user an interpretable error message.

[2016-03-09 21:20] #121 closed

[2016-03-14 19:03] tercer commented on #32
Also now includes simplified Autoregressive model and Moving Average model.

[2016-03-14 19:03] #32 closed

[2016-03-21 03:29] tercer opened #128 "Formula Expressions and Quantities of Interest for Multiple Equations"
Develop a grammar for setting a system of equations as the formula argument to a Zelig model, as in models with bivariate dependent variables, as well as some hierarchical settings and also 2SLS, 3SLS, etc.

Create a generalized notion of the standard quantities of interest (predicted and expected values) for models that requires multiple equations.

[2016-03-24 20:19] tercer commented on #104
These models went up on CRAN as of Zelig 5.0-10 on March 14 (Pi Day).

[2016-03-24 20:19] #104 closed

[2016-03-25 03:32] tercer opened #131 "Convergence Diagnostics for MCMC Models"
The convergence diagnostics for MCMC models (most have "bayes" in their name) were not working and needed addressing.

[2016-03-25 03:40] tercer commented on #131
Reimplemented Geweke diagnostic, Heidelberger-Welch diagnostic, and Raftery-Lewis diagnostic, using the Coda package.  These are now methods to models that inherit from class Zelig-bayes.  They add references to both the Coda package and the original diagnostic paper, when called.  Also implemented slightly different version for all MCMC estimated EI models (in ZeligEI).

A page of documentation i

[2016-03-25 03:40] #131 closed

[2016-03-25 20:52] tercer commented on #108
Specifically, the model is estimating correctly, however the summary function is not producing useful results.  The issue appears to be that use of the dplyr functions are sometimes stripping the class of the result.  Without the class of the result, the wrong summary function is being applied.  This doesn't seem to happen for every model, but does happen for MCMCpack models that should give resul

[2016-03-25 22:31] tercer commented on #108
Now resolved.  For example, here is the summary output from the currently built docs at
http://docs.zeligproject.org/en/latest/zelig-normalbayes.html

<img width="864" alt="screen shot 2016-03-25 at 6 26 24 pm" src="https://cloud.githubusercontent.com/assets/2085037/14055308/4e012090-f2b7-11e5-9a7b-b4d9f701d77e.png">

Fix is up on GitHub and will go out to CRAN with Zelig 5.0-12, by the first week

[2016-03-25 22:31] #108 closed

[2016-03-29 19:25] tercer commented on #89
Average Treatment on the Treated (ATT), is now implemented as a generalized method available to all models.  The getter for QI's also works to extract this.

![screen shot 2016-03-29 at 3 17 14 pm](https://cloud.githubusercontent.com/assets/2085037/14120677/de3f96ca-f5c1-11e5-9e37-eb6082c4a7b3.png)

[2016-03-29 19:25] #89 closed

[2016-05-03 20:02] hbahamonde opened #140 "Relogit can't compute robust standard errors."
Relogit can't compute robust standard errors anymore.

[code]

Only to get this error...

[code]

[2016-05-18 17:28] tercer opened #141 "summary method: odds ratio as summary option"
Add an option to specify odds ratios instead of estimated parameter in the summary method for the model estimate, for certain choice models (particularly the Logit family) where that is applicable.

[2016-05-19 22:48] tercer commented on #33
ZeligEI module ready for CRAN submission.

[2016-05-19 22:48] #33 closed

[2016-06-23 16:29] cchoirat opened #142 "Allow saving summarized simulations"

[2016-06-30 22:39] danlewer opened #143 "Error from coxph"
The cox's survival model appears to give an error, as explained in this stackoverflow post:

http://stackoverflow.com/questions/38134035/r-error-from-zeligs-coxph?noredirect=1#comment63699597_38134035

[2016-07-04 19:36] bgall opened #144 "Survey models not passing complex design to svyglm()"
Based only my understanding of [Example 2](http://docs.zeligproject.org/en/latest/zelig-logitsurvey.html) from the survey model documentation, the initial model summaries of Zelig survey models should produce the same output as svyglm() from Thomas Lumley's 'survey' package. However, the zelig survey models do not appear to pass all of the complex design information to the underlying svyglm(). In

[2016-08-06 19:01] ldlpdx opened #145 "Incorrect number of dimensions" error when using model="arima""
Hello,

I posted this on the Google forum yesterday, but got no response. So I'm hoping that whoever maintains this package is checking these issues.

I'm getting an error when I try to run an `arima` model with the zelig package. I'm using MI data that were created with Amelia. Here is a short summary of my id and response variables:

[code]

`Diff.from.expected` is my response variable. And here

[2016-08-06 19:46] cchoirat commented on #145
``order`` corresponds to http://stats.stackexchange.com/questions/44992/what-are-the-values-p-d-q-in-arima.

It would be easier for us to help if you could provide a replicable and self-contained example.

[2016-08-06 19:52] cchoirat opened #146 "Explore using ``purrr`` instead of ``plyr`` for the ``by`` argument"
In the spirit of:

[code]

(https://github.com/hadley/purrr)

[2016-08-15 20:07] #116 closed

[2016-08-18 23:40] cchoirat opened #147 "Add getter for p-values"

[2016-08-19 19:53] ldlathrop commented on #145
Thanks, @cchoirat. Here is the link to my [saved Amelia .Rdata file](https://github.com/ldlathrop/Elephant-data-analysis/blob/master/coVarsTrans.RData). There are 20 imputations.

And here are a couple of examples I've tried to run:

    ## Zelig models
    library(Zelig)
    library(mitools)

    z1 <- zarima$new()
    z1$zelig(Diff.from.expected~HDI, order=c(1,0,1), model="arima",

[2016-08-22 11:48] ldlathrop commented on #145
**UPDATE:** I did finally find an answer about the `order` call, but I still need help with the `incorrect number of dimensions` error. Thanks!

[2016-09-18 19:07] sdaza commented on #71
anytime soon?

[2016-09-21 18:31] adamobeng opened #148 "Median() in utils.R does not work"
[code]

This is because of a typo on line 31 of utils.R. Patch forthcoming.

[2016-09-21 19:33] cchoirat commented on #148
Thanks Adam!

On Wed, Sep 21, 2016 at 8:31 PM, Adam Obeng <notifications@github.com>
wrote:

[2016-09-21 19:43] adamobeng commented on #148
No problem, @cchoirat.

While I'm on the subject, can you confirm that this is the expected behaviour?

[code]

[2016-09-23 11:12] adamobeng opened #150 "A number of bugs with average-related functions"
@cchoirat : I have a patch ready to go which has unit tests and fixes for these, if you let me know which ones are bugs and which ones are expected behaviour.
## Mode() does not properly handle fixed-type vectors

[code]

The correct result is 2
## Mode() does not maintain the ordered nature of ordered factors

[code]

Should return an ordered factor.
## Mode() counts the labels of the factor, not

[2016-09-23 11:33] adamobeng commented on #141
I can take a crack at this.

Would the right way to do this would be to modify the `show` method in `model-zelig.R`, or to modify `z$out` in each of the model types' classes?

[2016-09-23 12:55] cchoirat commented on #141
Great!  You may want to try to overwrite the show method in model-logit.R.

On Fri, Sep 23, 2016 at 1:33 PM, Adam Obeng <notifications@github.com>
wrote:

[2016-09-23 13:01] cchoirat commented on #150
Thanks!  These utility functions were ported from previous versions of
Zelig, and factors have raised many issues in the past.  Let me run some
tests to see what is expected vs what is not.

On Fri, Sep 23, 2016 at 1:12 PM, Adam Obeng <notifications@github.com>
wrote:

[2016-10-07 15:01] mcrosas commented on #52
@cchoirat  can I close this issue?

[2016-10-07 15:02] cchoirat commented on #52
Yes, please.

On Fri, Oct 7, 2016 at 11:01 AM, Merce Crosas <notifications@github.com>
wrote:

[2016-10-08 15:38] adamobeng commented on #141
I've added an argument called show.odds.ratios, implemented it in the way you suggest (branch [feature/odds_ratio](https://github.com/adamobeng/Zelig/tree/feature/odds_ratio))

It works like this:

[code]

Is that what you expected?

Also, am I right in the assumptions that:
- displaying odds ratios for coefficients is only relevant if `.self$mi` and `.self$boostrap` are false?
- I can ignore the

[2016-10-19 19:47] michalskop opened #151 "ZeligEI: summary not working for ecological inference RxC models"
I'm getting this error:

[code]

I am able to get some of the results by:
`mat = matrix(apply(as.matrix(z.out$getcoef()[[1]][[3]]),2,'mean'),ncol=3)`
and
`matsd = matrix(apply(as.matrix(z.out$getcoef()[[1]][[3]]),2,'sd'),ncol=3)`
(where ncol=3 needs to be adjusted to the respective case)

My full code with columns named `A1 ... An` and `B1 ... Bm` in a dataset in `par_input`

[code]

[2016-11-02 19:32] #148 closed

[2016-11-04 15:25] tercer opened #152 "mode function"
Changes to the Mode() function in utils.R now give this warning everytime Zelig is loaded:

<img width="404" alt="screen shot 2016-11-04 at 11 19 34 am" src="https://cloud.githubusercontent.com/assets/2085037/20011091/d3cb32f0-a280-11e6-8e60-45b5ca50c2a4.png">

I believe this was added recently by Christine in concert with a user, to make Mode work as a setx() function in both upper and lowercase

[2016-11-04 19:25] tercer commented on #151
This seems to be a namespace issue.  A workaround is to attach "eiPack" directly so the right function can be found.  Will fix this shortly, but for the present, add:
    library("eiPack")
and summary works.

[2016-11-04 19:32] tercer opened #153 "ZeligEI: Formula expressions"
The formula expression in the ZeligEI module is supposed to take many different possible formats, and work equally well.  However,
[1] setting the `N` argument by a numeric vector rather than a variable name, does not seem to be enabled in all models.
[2] one of the underlying packages, `ei` automatically switches between models based on formula format, which leads to unexpected behaviour.

[2016-11-04 19:38] tercer opened #154 "ZeligEI: Check for empty tables"
It's possible to have an observation in a dataset, where there the total number of persons in the table aggregates is zero.  This particularly can happen when the observation at the precinct level, but the variables measure lots of subgroups, and the EI model is on those, or some very small precincts are included in the dataset to deal with special cases, absentee ballots, etc.

Some of the underl

[2016-11-04 20:37] tercer commented on #151
This is now solved on the Beta on GitHub, and will be pushed to CRAN with version 0.1-1

The issue was for safer namespaces, adding packages through imports is generally preferred to depends.  However, eiPack has it's dependencies as strict Depends so expects required functions to be attached, so eiPack thus has to be a "Depends" rather than an "Imports" so eiPacks own dependencies are attached co

[2016-11-04 20:37] #151 closed

[2016-11-04 21:04] tercer opened #155 "ZeligEI: Address CRAN Notes on ei dependency"
Package `ei` which is a key dependency of ZeligEI, and for which IQSS is presently maintainer, has accrued some Notes on CRAN checks, primarily about Vignettes in the package.  These need to be fixed.

[2016-11-05 01:00] tercer commented on #155
Here were the CRAN check failures:

<img width="558" alt="screen shot 2016-11-04 at 8 58 04 pm" src="https://cloud.githubusercontent.com/assets/2085037/20026497/b47b1c48-a2d1-11e6-94d4-d157c57a2230.png">

[2016-11-05 03:51] tercer commented on #155
Package `ei` version 1.3-3 is now up on CRAN.

[2016-11-05 03:51] #155 closed

[2016-11-21 20:12] tercer commented on #155
Notes are all gone now:

<img width="554" alt="screen shot 2016-11-21 at 3 10 36 pm" src="https://cloud.githubusercontent.com/assets/2085037/20498864/d762f194-affc-11e6-958d-c5c1931c23cb.png">

[2016-11-26 10:40] altaf-ali opened #156 "sim() in 5.0-13 fails if model includes factor variables"
In version 5.0-13 of Zelig, `sim()` function fails with the following error if the model includes a factor variable:

[code]

The same code works fine in previous version 5.0-12.

`Species` is a factor variable in the following example. If you remove it or replace it with a continuous variable, then `sim()` works fine.

#### code to reproduce the error:

[code]

[2016-12-02 20:48] tercer opened #157 "Get R and Zelig back up on Jenkins"
A number of plugins are out of date on Jenkins, particularly SVN and Pipeline, and thus we can't get the latest R-devel up on Jenkins to test Zelig against for current CRAN checks.

[2016-12-12 18:35] tercer commented on #153
Issue [1] in list (setting N) resolved.

[2016-12-13 16:17] tercer commented on #154
Check for empty tables implemented for eihier and eidynamic models.

[2016-12-13 16:20] tercer opened #158 "ZeligEI: Actions for missing values"
Missing values in the table elements of EI models crash the underlying estimators.  Should check for  and deal with missing values by user defined action.  This is a more general need across all the Zelig models, but ZeligEI gives us a setting to pilot solutions.

[2016-12-13 16:22] tercer commented on #158
na.action set as new ZeligEI argument.  Checking utility set up for this argument.  Fully implemented in eihier and eidynamic models  (eiml and eirxc remain).

[2016-12-14 15:38] mercecrosas opened #159 "Fix menu bar in docs.zeligproject.org"
The menu bar in the header of the http://zeligproject.org/ is not exactly the same as the menu bar in http://docs.zeligproject.org/en/latest/.  Could you update the menu bar in the docs (see menu list under Software) to match the one in zeligproject.org

[2017-01-12 21:10] christophergandrud opened #160 "Code test coverage"
Achieve code test coverage of at least 70%

[2017-01-13 17:11] christophergandrud commented on #143
Zelig 5 unfortunately doesn't support `coxph`. We'll be working on reintroducing support (https://github.com/IQSS/Zelig/issues/71)

[2017-01-13 17:11] #143 closed

[2017-01-13 17:13] christophergandrud commented on #86
What is the status of this paper?

[2017-01-16 18:26] christophergandrud opened #161 "Zelig quick start example returns error on `sim`"
When running the Zelig [quick start](http://docs.zeligproject.org/en/latest/installation_quickstart.html) the following error is returned:

[code]

[code]

[2017-01-16 19:02] cchoirat commented on #161
I can't replicate:

 sim x :
 -----
ev
     mean       sd      50%     2.5%    97.5%
1 75.3242 1.687958 75.32616 71.92313 78.63152
pv
         mean       sd      50%     2.5%    97.5%
[1,] 75.46881 9.795293 75.34396 55.61481 94.29576

 sim x1 :
 -----
ev
     mean       sd      50%     2.5%    97.5%
1 66.7033 1.557889 66.70477 63.71157 69.76454
pv
         mean       sd      50%     2.5%    97.5%

[2017-01-16 19:28] christophergandrud commented on #161
Thanks for checking. I found the bug, was in the dev version.

[2017-01-16 19:28] #161 closed

[2017-01-16 22:13] christophergandrud commented on #160
As part of this process, improve human-readable error messages.

[2017-01-17 17:24] tercer commented on #161
Christopher,

This commit:
https://github.com/IQSS/Zelig/commit/1ab113ffbcfee68449252c9436347776888a3b87

Suggests you're replacing the DESCRIPTION file with the one regenerated by
ROxygen2.

We've found that rearranges the collate order in a way that breaks.
Perhaps this is part of what was wrong with your dev version?

James

On Mon, Jan 16, 2017 at 2:28 PM, Christopher Gandrud <
notifications@g

[2017-01-17 17:39] christophergandrud commented on #161
Thanks for looking into this.

I actually had on my list to ask about the collate workflow. Would be good
to hear about the issues in more detail.

On Tue, Jan 17, 2017 at 12:24 PM James Honaker <notifications@github.com>
wrote:

[2017-01-19 21:01] christophergandrud opened #162 "NEWS file for updates"
Suggestion/query: Zelig currently lacks a NEWS file for reporting changes in each release.

Is it something we should consider adding for the next release?

[2017-01-19 21:23] christophergandrud opened #163 "Zelig 4 wrapper/5 Reference Classes Documentation"
`?zelig`, `?setx`, `?sim` point to Zelig 4 wrapper documentation (with sometimes out of date information, such as suggesting the use of `help.zelig` which is no longer included).

To access Zelig 5 method documentation, the `help` method is used and points to separate [online documentation](http://zeligproject.org/), which typically includes a mixture of examples for the RC and wrapper syntax.

Wh

[2017-01-20 18:54] christophergandrud opened #164 "Setting a range of x"
Before I go digging through the code, I was wondering if I'm missing something obvious.

I would like to `setx` for a range of values of a variable. This works fine using the Zelig4 wrappers, e.g.:

[code]

I've tried to do something similar with:

[code]

but get the error:

[code]

and with

[code]

This doesn't return any errors, but the `summary` is:

[code]

What am I missing here?

[2017-01-20 19:11] cchoirat commented on #164
I can't replicate:

[code]
![image](https://cloud.githubusercontent.com/assets/4173925/22161907/951f8d36-df4c-11e6-89f1-72ee7645d4d2.png)

[code]

[code]

[2017-01-20 19:13] christophergandrud opened #165 "Dynamically generated README"
Create README:

- Include the quick start and syntax information about Zelig 5.

- Dynamically generated with Rmd

- Compile should fail if there are errors (`knitr::opts_knit$set(stop_on_error = 2L)`)

- Include badges for build status, CRAN version, downloads, code coverage, etc.

[2017-01-20 19:14] christophergandrud commented on #165
Implemented with c381e12926376479cab5ca3195beef8637a12490

[2017-01-20 19:14] #165 closed

[2017-01-20 19:18] christophergandrud commented on #90
Issue seems to be covered by https://github.com/IQSS/Zelig/issues/77

[2017-01-20 19:18] #90 closed

[2017-01-20 19:24] cchoirat opened #166 "Use printCoefmat in show method"
Instead of

[code]

[2017-01-20 19:30] christophergandrud commented on #164
Ah, I see that object needs to go into the `ci.plot` function.

I was confused because the Zelig5 examples use the `graph` method rather than the `ci.plot` function.

I'm wondering if if this could be improved from a UX perspective in two ways:

- `setrange` is not really documented and would be non-obvious for Zelig 4 users. More documentation would be an easy update.

    + What are the impedime

[2017-01-20 19:51] christophergandrud commented on #164
Added a Zelig5 `setrange`/`ci.plot` example to the README: 0b719a9bc4fd3fda85a5537091323b117806e909

[2017-01-20 19:54] christophergandrud commented on #112
This seems like a good idea. What are the current thoughts on this?

[2017-01-20 22:00] christophergandrud opened #167 "Speed up Zelig workflow failure"
If a step is skipped in the Zelig workflow--estimate, set, sim, plot, then Zelig should immediately inform the user with an informative warning or error message.

[2017-01-20 22:18] christophergandrud commented on #167
Begun in d1288685e3ab8eaea32aa68f61e1914c87725836

[2017-01-23 16:10] christophergandrud commented on #162
Begun with b0174bc88de43a33fd79ba8ed8c97caafaebd6ce

[2017-01-23 16:10] #162 closed

[2017-01-23 16:47] christophergandrud opened #168 "Integrate the generation of Internal and Online documentation with roxygen2/pkgdown"
I think we should convert the Zelig online documentation generation to [pkgdown](http://hadley.github.io/pkgdown/). This has a number of advantages:

- Easily enable close integration with the internal documentation, which is currently different from the online documentation in ways that are potentially confusing to users

- Closer test integration as the online docs could be tested every time Zel

[2017-01-23 19:05] christophergandrud opened #169 "Vignette on working with `sim` output for custom plotting"
This is partially a stopgap before implementing ggplot2 graphics in Zelig: create a Vignette on working with `sim` output so that the user can create custom graphics.

[2017-01-23 19:17] christophergandrud commented on #169
Related to https://github.com/IQSS/Zelig/issues/142

[2017-01-23 23:08] christophergandrud commented on #164
The `graph` method now can tell if a range of x have been provided and call `ci.plot`: 77ebffc7bd0f76e297527c6e1514bb808d1135d6

[2017-01-24 01:14] izahn commented on #164
Here are my thoughts about this. They may not be coherent, but perhaps useful nonetheless.

There is as fundamental tension between setting a range of x values and providing first differences. If we use `setx` and `setx1` then first differences make sense. If we specify a range of x values than first differences really don't make sense. Providing first differences is one of the "selling points" of

[2017-01-24 01:35] izahn commented on #112
I think it's a good idea, but probably not high priority.

[2017-01-24 13:10] christophergandrud commented on #167
As part of this I've been [creating assertion functions](https://github.com/IQSS/Zelig/blob/master/R/assertions.R) (a3d6c3495800205db08a60c849d745205e928e1c) that test if inputs meet basic requirements. If not then they can be used to return an error or trigger a warning.

[2017-01-24 13:22] christophergandrud commented on #164
@izahn that is a pretty intriguing idea. Making the substantive uses of `setx` and `setrange` functionality more explicit could definitely help users.

I guess one big thing to think through is backwards compatibility and minimising software complexity.

[2017-01-24 18:16] tercer commented on #164
Two points:
[1] About method and wrapper calls.

setrange() isn't necessary when using the wrappers, and this is one place where the wrapper and method behaviour could be brought closer together.  Here's a working code example using just setx wrapper:

<img width="614" alt="screen shot 2017-01-24 at 1 10 10 pm" src="https://cloud.githubusercontent.com/assets/2085037/22260404/1e785878-e237-11e6-93d

[2017-01-24 18:22] christophergandrud commented on #164
- Completely agree making `setx` method work like the wrapper. I'll work on implementing this.

- I also find the `setx1` terminology non-obvious. I guess it's been around for awhile, but maybe it is worth thinking about changing this.

[2017-01-24 19:06] christophergandrud opened #170 "Consider moving some packages to Suggests"
A new install of Zelig can be a bit time consuming due to the dependencies. I would guess that most users don't need every estimation dependency installed. So, maybe it would be worthwhile to move some of the packages to Suggests.

I've put together a simple example with the AER package moved to Suggests: b72895f2998db2bc4690af17e1be1d665eb69668

With this version, if you run `ztobit$new()` withou

[2017-01-24 19:11] christophergandrud commented on #167
I'm closing this issue because the basic functionality is in master. But it's an ongoing process.

[2017-01-24 19:11] #167 closed

[2017-01-24 21:09] christophergandrud opened #171 "ci.plot should fail informatively if sim.out$range and sim.out$range1 are different lengths"

[2017-01-24 21:18] christophergandrud commented on #171
Resolved in 41fc5c24f451b0fa5668bc45496a2614031448d4

[2017-01-24 21:18] #171 closed

[2017-01-25 15:32] christophergandrud commented on #169
Likely modification of `getqi`. Perhaps a new method called `getqi_df`

[2017-01-25 16:20] christophergandrud opened #172 "<<- vs <- assignment"
This regards the series of build warnings related where R urges Zelig to use deep assignment.

CAVEAT: I talked with Christine about this a few weeks ago, got caught up with other things and am just returning to it now, so I'm probably forgetting something.

What is the rational for not doing this? I put together a [simple test](https://github.com/IQSS/Zelig/tree/refClassAssignment) where `num` in

[2017-01-25 16:31] cchoirat commented on #172
Sorry, I'm not sure I get your concern:

num <<- value

and

.self$num <- value

behave the same (if num is a field in the object).

On Wed, Jan 25, 2017 at 5:20 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-01-25 16:50] christophergandrud commented on #172
I'm just trying to remember why:

- https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L530

Instead of:

- https://github.com/IQSS/Zelig/blob/refClassAssignment/R/model-zelig.R#L530

If the latter means that a warning isn't produced at build.

[2017-01-25 16:54] cchoirat commented on #172
There's a warning in this case because assignment is ambiguous (is num the
object field or a local variable?).  See, e.g., localauthors vs authors.

On Wed, Jan 25, 2017 at 5:50 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-01-25 17:33] christophergandrud commented on #172
So a preferred solution to using deep assignment would be:

[code]

rather than:

[code]

Is that right?

[2017-01-25 17:39] cchoirat commented on #172
No, no, I'm just saying that:

(1)

local_num <- value1
.self$num <- value2

and

(2)

local_num <- value1num <<- value2

are the same

and that warnings come from statements such as:

(3)

num <- value

On Wed, Jan 25, 2017 at 6:33 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-01-25 17:46] christophergandrud commented on #172
Right. Is there any reason why I should not replace all:

[code]

with

[code]

or alternatively (as suggested by R):

[code]

All seem to have the same behaviour, the latter two produce no warnings.

[2017-01-25 22:40] christophergandrud opened #173 "`setrange` warning and `ci.plot` informative fail if range length = 1"

[2017-01-25 22:42] christophergandrud commented on #173
Resolved by d1462ce56d83fe003d4e0a38e3523a37dcf6980c

[2017-01-25 22:42] #173 closed

[2017-01-26 14:10] christophergandrud opened #174 "Semantic versioning?"
Just wondering about the version numbering system that Zelig uses. How closely does it correspond to [semantic versioning](http://semver.org/), e.g. MAJOR.MINOR.PATCH

It seems like currently Zelig uses: MAJOR.?-MINOR. Am I missing something?

[2017-01-26 14:22] pdurbin commented on #174
@christophergandrud now you've got me wondering about why there's nothing under https://github.com/IQSS/Zelig/releases which corresponds to tags in Git. I suppose the way to see a list of prior versions is to visit https://cran.r-project.org/src/contrib/Archive/Zelig/ rather than looking at Git tags. Anyway, I imagine http://docs.zeligproject.org/en/latest/devguide.html would be the place to expla

[2017-01-26 14:27] christophergandrud commented on #174
Side note on git tags: I'm not really a big fan of them for R packages. I think they make more sense for software for which there is no obvious external service like CRAN to release them through. Otherwise they often become redundant and haphazardly used (at least in my experience).

[2017-01-26 14:49] christophergandrud opened #175 "Removing plyr dependency"
It looks like Zelig depends on plyr exclusively for the `llply` function when doing:

[code]

(there is another function called zeligPlyrMutate, but this code is fully inside Zelig.

In [this branch](https://github.com/IQSS/Zelig/tree/removelPlyr) I've converted all `llply` to `lapply`. Based on the tests implemented now, this doesn't seem to change the performance.Also I renamed `zeligPlyrMutate`

[2017-01-26 15:46] tercer commented on #174
My sense would be that with say release 5.0-13, that is read as
Major(Version) 5, Minor 0, Patch 13.    We're 13 patches into getting Zelig
version 5 up.  I realize our "patches" are much broader than the typical
usage and generally add functionality as well as provide fixes.

My sense with some R package users is that they see a minor version
increment as suggesting they need to relearn or restud

[2017-01-26 19:14] christophergandrud commented on #174
Thanks, that's pretty much what I thought, but just wanted to make sure.

I'm thinking that at least while I'm working on Zelig's internals intensively we could define PATCH more narrowly and aim for more frequent CRAN releases. A lot of the bigger features that are [now listed](http://zeligproject.org/releases-roadmap) under 5.0-14 could be moved to a 5.1 release. Does that sound ok?

[2017-01-26 19:23] christophergandrud commented on #175
Done in e7efb5c053f0d41ed0db2a2c715fbbad4e548261

[2017-01-26 19:23] #175 closed

[2017-01-27 14:29] christophergandrud opened #176 "Allow users to pass non-Zelig fitted model objects to `setx`--proposed modified Zelig workflow"
@izahn and I were having a chat yesterday about how to make Zelig more accessible to a wider range of users. One particular issue we discussed was the `zelig` estimation step.

## Advantages and difficulties

This step has a lot of advantages--works well with Amelia and MatchIt, provides a common syntax for a lot of models, allows the implementation of methods such as [gim](https://github.com/IQSS

[2017-01-28 13:22] #174 closed

[2017-01-28 13:26] christophergandrud opened #177 "Conditional relationships in dynamic models"
I forgot to add implementing Zach Warner's approach to [conditional relationships for dynamic models](https://www.rochester.edu/college/psc/polmeth/posters/Warner.pdf) under our time series goals.

I actually had thrown together a proto-package for this in the fall: https://github.com/christophergandrud/ecmSim

A more general point for selling Zelig seems to be playing up its usefulness for showin

[2017-01-30 13:20] christophergandrud commented on #157
Moved CI testing to [Travis CI](https://travis-ci.org/IQSS/Zelig) and [Appveyor](https://ci.appveyor.com/project/christophergandrud/zelig).

[2017-01-30 13:20] #157 closed

[2017-01-30 14:02] christophergandrud commented on #145
The root problem seems to be with your dependent variable. It doesn't vary for a number of countries (e.g. Senegal, Togo) and so `arima` is unable to model it.

![imp1](https://cloud.githubusercontent.com/assets/1285805/22425718/7ba9f050-e6ca-11e6-85aa-d3c8da53171d.png)

For example, if we look at your first imputed data set only:

[code]

and run the model only for Angola and Benin (for which the

[2017-01-30 19:28] christophergandrud commented on #145
I've added in the error so that `arima` fails informatively if there is no dependent variable variation for one of the cases: df3e941f92ab66def74eaaf19b86f827f741a76a

That being said. This doesn't actually prevent `Error in data[, cs] : incorrect number of dimensions`. I haven't been able to reproduce this error for other data sets and it occurs before `arima` is even called.

Actually inserting

[2017-01-30 19:55] christophergandrud commented on #88
The issue appears to be at the `lm.influence` call on line [168](https://github.com/IQSS/Zelig/blob/eaf0484c8bff179c8b2dd8a44828cee1cc35bc0e/R/model-relogit.R#L168) in the `relogit` function. Here's the profile using 100,000 simulated observations.

![screen shot 2017-01-30 at 14 49 06](https://cloud.githubusercontent.com/assets/1285805/22438794/492d4984-e6fb-11e6-8ca2-cc8d99d569f9.png)

This is m

[2017-01-30 20:04] christophergandrud commented on #88
Further narrowing it down, it looks like within `lm.influence` most of the hold up is at:

[code]

![screen shot 2017-01-30 at 15 03 38](https://cloud.githubusercontent.com/assets/1285805/22439395/737d5a74-e6fd-11e6-8f13-f04b1706c548.png)

[2017-01-30 20:07] christophergandrud commented on #88
I think this means that we would need to rewrite the C code behind C_influence

[2017-01-30 20:16] christophergandrud commented on #94
Related to https://github.com/IQSS/Zelig/issues/160

[2017-01-30 20:16] #94 closed

[2017-01-30 20:17] christophergandrud commented on #113
Hi @norakirk. Could you provide a self-contained reproducible example?

[2017-01-30 21:43] christophergandrud commented on #172
I've implemented the deep assignment operator for `num` in 5.0-14.

I'll work on the other ones for 5.0-15.

[2017-01-30 21:47] tercer opened #178 "Add utility function for imputed datasets"
Allow users to easily use a sequence of imputed datasets.  Previously there existed an intermediate function `mi()` that could construct an object that the `zelig()` function would then accept in place of a dataset.

Presently, objects coming from `amelia()` are accepted in place of data, and handled appropriately as sets of imputations.  The goal here is to provide assistance more generally.

[2017-01-31 01:09] tercer commented on #178
Utility function up here 2c7efa807dda48705ebdbff68dbf36a9642798b1

[2017-01-31 12:51] christophergandrud commented on #178
Very nice. This looks pretty much ready to go. I'll see if I can write a reasonable test for it. Then should we commit it to master?

(The `mode` issue has also been bugging me. How important is keeping `mode`?)

[2017-01-31 13:15] christophergandrud opened #179 "lsmixed not estimated"
The `lsmixed` model seems to not work at all. E.g. the error in the documentation: http://docs.zeligproject.org/en/latest/zelig-lsmixed.html

[2017-01-31 13:22] cchoirat commented on #179
Mixed models docs are mostly placeholders at the moment.

On Tue, Jan 31, 2017 at 2:15 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-01-31 13:26] vincentarelbundock commented on #176
I'm not sure I understand the use-case very well. Perhaps if you want to port existing code to Zelig that would be helpful. But the cost of changing a few lines doesn't seem that bad if you really care about what `setx` gives you.

The other direction seems more important to me: for example, getting a `glm` object out of zelig. Say you want to use another package which is not directly compatible w

[2017-01-31 13:37] christophergandrud commented on #179
Ah, I see that there is no `model-lsmixed` in the package.

At least Zelig now returns a the error: `lsmixed is not a supported model type.` from the wrapper and `Error: object 'zlsmixed' not found` if trying to use it in Zelig 5 syntax (not the most informative error message, but I'm not sure how we can improve it).

[2017-01-31 13:39] christophergandrud commented on #176
@izahn actually also brought this up. Something like a `from_zelig` function:

![img_20170131_083425](https://cloud.githubusercontent.com/assets/1285805/22466918/7db22784-e790-11e6-90f7-7b15c743dfb8.jpg)

I think that makes a lot of sense and shouldn't be too difficult to implement (famous last words).

[2017-01-31 14:32] christophergandrud commented on #163
[Roxygen2 version 6](https://cran.r-project.org/web/packages/roxygen2/news.html) seems to have some functionality that could be very important for Zelig's documentation. Namely:

- New `@inheritDocParams` allows you to automatically generate parameter documentation for ... for the common case where you pass ... on to another function (#512). Because you often override some arguments, it comes with

[2017-01-31 15:08] tercer opened #180 "Turn off legend on ci plot"
An author communicated that their journal asked to remove the legend on the CI plot.  I'll set an option for this.  (Presently this could be accomplished by using the position argument `legpos` and moving it off screen.)

[2017-01-31 15:11] christophergandrud commented on #178
One thought: maybe rename the `mi` function `to_zelig_mi`.

Reasoning: `mi` could imply that the function imputes the data and may not clearly signal that the purpose of the function is specifically to prepare data for Zelig.

[2017-01-31 15:40] christophergandrud opened #181 "Warnings with roxygen2 version 6.0.0 on build"
Submitted an issue over at roxygen2: https://github.com/klutometis/roxygen/issues/571

[2017-01-31 15:50] christophergandrud commented on #178
I changed the name and added in some tests: b7784aa0e9c4142b770c03147ced6f980cf75f28

Any other changes before merging into master?

[2017-01-31 16:18] christophergandrud commented on #181
Seems like this is a new warning about existing behaviour related to not using Roxygen to collate, namespace

[2017-01-31 16:41] tercer commented on #180
The legend position argument `leg` can now also turn off the legend.  Syntax is now: `ci.plot(s.out, leg=0)` or  `ci.plot(s.out, leg="n")`  to turn off legend.

<img width="751" alt="screen shot 2017-01-31 at 11 37 58 am" src="https://cloud.githubusercontent.com/assets/2085037/22474523/0a6b510a-e7aa-11e6-96a9-84226241fe04.png">

Here: 8e985335fef98ab26febc54b195b8158799b9a61

[2017-01-31 16:41] #180 closed

[2017-01-31 16:48] tercer commented on #178
Looks ready to go.  The use of `mi` was for backwards compatibility and brevity.  It's a judgement call, but yours, not mine.  (Could also make available a copy as `mi<-to_zelig_mi`.)  Happy either way.

[2017-01-31 18:38] tercer commented on #160
I added about a dozen more Monte Carlo unit tests into the /testthat folder, here: 0905bf79e110e06f1cd4c63b83eb4a2947deec27 .  This is most of the models for which an `mcfun()` method for self testing has been defined.

I see some issues with Weibull and Gamma models I'll look into further (they're not presently included in this batch) and review which models don't have `mcfun()` methods defined.

[2017-01-31 19:00] christophergandrud commented on #152
Implemented in 5.0-14:

[2017-01-31 19:00] #152 closed

[2017-01-31 19:01] christophergandrud commented on #178
I like the backwards `mi` idea. They both work now and are merged into master: d11adef4e23c57bac76b25131c4f202bcc0c0c70

Because of the other CRAN issue regarding maintainer names this is going up in 5.0-14.

[2017-01-31 19:01] #178 closed

[2017-01-31 21:30] christophergandrud commented on #160
@tercer Those are going in 5.0-14

[2017-02-01 16:13] tercer opened #187 "ZeligChoice: zeligPlyrMutate removal has broken sim method."
The ZeligChoice models have broken `sim` methods since the renaming of `zeligPlyrMutate` https://github.com/IQSS/Zelig/issues/175.

For example:

<img width="576" alt="screen shot 2017-02-01 at 11 08 16 am" src="https://cloud.githubusercontent.com/assets/2085037/22515010/2419ed26-e86f-11e6-972b-c73a38a329c9.png">

For all the documentation for the ZeligChoice models on zeligproject.org, this is sh

[2017-02-01 17:36] tercer commented on #187
Fixed with ZeligChoice_0.9-2 by updating Zelig version dependency in imports in DESCRIPTION.

<img width="950" alt="screen shot 2017-02-01 at 12 34 58 pm" src="https://cloud.githubusercontent.com/assets/2085037/22518537/eec9943a-e87a-11e6-8aea-cb13968dbb65.png">

However, zeligproject.org issue currently remains.

[2017-02-01 18:12] tercer commented on #187
The issue with zeligproject.org is more general, and now has it's own issue https://github.com/IQSS/docs.zeligproject.org/issues/13

[2017-02-01 18:12] #187 closed

[2017-02-01 20:39] tercer commented on #160
Monte Carlo unit tests live for Weibull and Gamma models.

[2017-02-02 05:33] christophergandrud commented on #144
`ids` is no longer hard coded `~1` from version 5.0-15 f1588859541d837db20e742f71196b6e74446881

Thanks for reporting this

[2017-02-02 05:33] #144 closed

[2017-02-02 06:23] christophergandrud opened #189 "from_zelig for extracting original fitted model objects"
Building on conversations with @izahn and @vincentarelbundock I've implemented a `from_zelig` method (with a wrapper) that will extract original fitted model objects from `zelig` calls: b761971e6a739d12d97314f63dc902b0d4f44bc4

This can be useful for passing output to non-Zelig post-estimation functions and packages such as texreg and stargazer for creating well-formatted presentation document tab

[2017-02-02 06:30] christophergandrud commented on #189
Minimal example:

[code]

[2017-02-02 09:10] christophergandrud commented on #145
I'm going to close this issue for now.

[2017-02-02 09:10] #145 closed

[2017-02-02 15:06] tercer commented on #189
Since there are presently different uses of the `by` architecture that each result in lists of results, I put some additional messages into this function here:  https://github.com/IQSS/Zelig/commit/ec4162f17f9eb8ef4d323374db4a2d10e8e86bce

One small comment is that since we have a variety of `get*` getters (`getqi`, `getcoef`, `getvcov`, `getpredict`, `getfitted`) would it make sense to call this

[2017-02-02 15:28] izahn commented on #189
I think `getmodel` makes sense for consistency. (I wish we had `get_qi`, `get_coef` etc. instead, but that's another issue.).

The current `from_zelig` makes sense for symmetry with the (proposed but not yet implemented) `to_zelig`, but looking at Christopher's diagram I guess `to_zelig` will be an internal function right? The user will just call `setx`? So consistency/symmetry is less import ther

[2017-02-04 02:12] tercer opened #194 "Average Treatment Effects broken between versions 5.0-13 and 5.0-14"
Average Treatment on the Treated is a quantity of interest available for certain models.  It works in Zelig_5.0-13 but breaks in Zelig_5.0-14, and seems to be related to changes in `z$simparam`

Here is it working:
<img width="534" alt="screen shot 2017-02-03 at 9 04 57 pm" src="https://cloud.githubusercontent.com/assets/2085037/22614772/3c173266-ea55-11e6-8002-e5dc7d760322.png">

Here is it faili

[2017-02-05 13:36] christophergandrud commented on #194
The issue has to do with the new use of deep assignment for `num`.

I reverted it back and completed the tests for this bug in: 31379643f1aaca5660b1dee20766fa705c86a4cb

[2017-02-05 13:36] #194 closed

[2017-02-05 13:52] christophergandrud commented on #189
Thanks for those additions @tercer! I had a strong feeling that I wasn't capturing all of the use cases.

The dreaded naming issue...

I've been thinking about this and maybe to avoid confusion, we should think of creating a new series of functions that are considered in a different family from `get*`:

- `from_zelig_model` (currently `from_zelig`  in the diagram)

- `to_zelig_model` (currently `t

[2017-02-05 16:40] tercer commented on #189
Although we certainly shifted to using them internally, once they started
to become available, the primary purpose of the getters was for users who
were asking how to extract some piece out of the zelig object.  The zelig
object, especially because of the layers added by dplyer and the general
lack of utilities for reference classes, is difficult to navigate.

I can't imagine there are so many peo

[2017-02-05 17:54] cchoirat commented on #189
I agree, we should progressively switch to get_this().

On Sun, Feb 5, 2017 at 5:40 PM, James Honaker <notifications@github.com>
wrote:

[2017-02-05 20:09] christophergandrud commented on #189
Sounds good. I'll take a stab at this.

[2017-02-06 12:45] christophergandrud commented on #156
It looks like the issue may have to do with the model matrix `mm` being malformed on line: https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L589

[2017-02-06 13:48] christophergandrud commented on #156
Some more details: when the `mm` is created it is of length 3 with one value set at the fitted factor variable level (in this case `3`) rather than a `0` then `1` to match the 4 parameters in `simparam$simparam`.

[2017-02-06 14:03] christophergandrud commented on #156
More narrowing: bug was introduced in 76b47c4a88f11d75015dc3f3e5d49a1a3a356045

[2017-02-06 15:27] izahn opened #199 "setx should allow reference to colnames in data"
Currently `setx` does not handle transformation well. I would expect this to work:

[code]

[2017-02-06 15:33] izahn opened #200 "sim should provide x values"
Zelig currently labels `sim` results with "sim x :", which is not very informative.

[code]

It would be better to enumerate the x values, e.g.,

[code]

Or perhaps

[code]

There could be some heuristic for shortening the list if there are many predictors, but the main thing is to communicate what these values actually are.

[2017-02-06 16:29] tercer commented on #160
Tests for getters,  several utilities (like `createJSON()`, refererences), MCMC diagnostics and simple tests for plot completion up.

[2017-02-06 18:56] tercer commented on #172
Given that addressing this has created a few tangential issues, I used adjustment of local names to avoid the CRAN warnings that were admittedly quite annoying.

Here is install from source for me now:

<img width="619" alt="screen shot 2017-02-06 at 1 34 11 pm" src="https://cloud.githubusercontent.com/assets/2085037/22661606/f0e40e56-ec73-11e6-96a6-434d39d82e2f.png">

[2017-02-06 18:56] #172 closed

[2017-02-07 02:35] tercer opened #204 "assertion is_simsrange"
The `ci.plot()` graph is used both for ranges and for graphing certain timeseries quantities of interest.  The `is_simsrange` assertion is being tripped when these timeseries qi's are sent for graphing, breaking qi plots.

I've fixed this right now, by exempting from this assertion when `'timeseries' %in% obj$category`, which is a good way to know if a model is a timeseries, in this commit: 72e22f

[2017-02-07 03:26] tercer opened #206 "Inappropriate plots generated for quantities of interest for mlogitbayes model"
Plots of qi's for `mlogitbayes` are inappropriate to a multinomial variable.  However, plots for `mlogit` in the ZeligChoice package, which uses the same plot routines, are correct.  So some fix is needed either in the field definitions of `mlogitbayes` or the internal logic of `simulations.plot`.

[2017-02-07 05:44] tercer commented on #160
Some tests for timeseries and weights and ROC curves.  That's likely the end of my test additions for present.

[2017-02-07 07:35] christophergandrud commented on #160
Really excellent work. Thanks so much!

[2017-02-07 07:43] christophergandrud commented on #204
Thanks for catching this.

In all cases where `is_simsrange` is used (in plot and graph) we would want to know this information.  So I would think we should include this in the assertion function and probably rename it. How about `is_simsrange_or_timeseries`.

Implementing now . . .

[2017-02-07 10:30] christophergandrud commented on #156
This commit may also be related to the documentation problem: http://docs.zeligproject.org/en/latest/zelig-ls.html

Also discussed in https://groups.google.com/forum/#!topic/zelig-statistical-software/1ohCNA5S_0A

[2017-02-07 10:33] christophergandrud commented on #200
I like this idea.

It will likely be useful for creating understandable `zelig_qi_to_df` data frames.

[2017-02-07 10:36] christophergandrud commented on #199
This is partially related to https://github.com/IQSS/Zelig/issues/156 where `sim` fails with factor variables.

The `reduce` utility seems to need a lot of work.

[2017-02-07 10:48] christophergandrud commented on #204
After playing around with some possibilities, I think creating a separate `is_timeseries` assertion makes more sense, i.e.:

[code]

This can then also be used at other points throughout `plot` and related functions.

Added in: 10c7f61d4332cb9c3383191e5b332547b7fef57c

[2017-02-07 10:48] #204 closed

[2017-02-07 11:15] christophergandrud commented on #156
Narrowed it down further to the `avg` function that allows users to specify which central tendancy to find: https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L422-L429

[2017-02-07 11:54] christophergandrud commented on #156
I solve it in 2758adf75ce41bcb71abd28ba42a86b15c9e7d75

The problem in line 428 of model-zelig (where `avg` decides what to do with factor variables) is that the old code `ifelse(is.null(fn$other), Mode(val), fn$other(val))` returned a numeric value of the modal factor level rather than the label which is needed to find the parameter in `sim`.

The fix was to just hard code `Mode(val)` so that the

[2017-02-07 11:54] #156 closed

[2017-02-07 11:59] christophergandrud opened #213 "Error in `set` for factor levels of variable converted to factor in call (also in documentation)"
A user converting a variable to a factor within the `zelig` call creates problems for `set`ting its levels.

This can be see in the documentation error: http://docs.zeligproject.org/en/latest/zelig-ls.html

When the variable is converted to a factor before the call, then everything works fine, e.g.:

[code]

[2017-02-07 14:05] christophergandrud commented on #213
Solved in 01da824e462c8417603218a11f08a59ce618ebef

Now the following two approaches to creating factors produce the same `set` results:

[code]

[2017-02-07 14:05] #213 closed

[2017-02-08 10:56] christophergandrud opened #214 "get* to get_*"
See discussion in: https://github.com/IQSS/Zelig/issues/189

[2017-02-08 10:59] christophergandrud commented on #189
`from_zelig_model` with tests for stargazer and texreg requirements added in 93328a81acaeb7fbc237fff89316347a75cecdc5

I'm planning on implementing `to_zelig_model` and `zelig_qi_to_df` in a post 5.0-15 release.

[2017-02-08 14:33] christophergandrud commented on #141
Thanks @adamobeng for putting this together!

I'm wondering if this belongs in the main `show` method. That way it can be more easily applied to other relevant model types. Does that make sense @tercer?

[2017-02-09 07:17] christophergandrud commented on #172
Also resolved in ZeligChoice for [version 0.9-4](https://github.com/IQSS/ZeligChoice/commit/000322df56cb4c7b574687a2a24faf9ba615943b)

[2017-02-10 06:20] #55 closed

[2017-02-10 06:36] christophergandrud opened #215 "`plot.new` margins error in RStudio"
If used in RStudio, the following code produces an error at `graph`:

[code]

[2017-02-10 06:39] christophergandrud commented on #215
Would be nice to have a solution to this that didn't involve hard coding, e.g. http://stackoverflow.com/a/12767309/1705044

[2017-02-10 07:48] christophergandrud commented on #87
That is strange. In version 5.0-15 when I now get the error:

[code]

Not sure why the `update` prompts the survreg function such that it isn't in the environment. When I manually load *survival* the error is then:

[code]

[2017-02-10 12:49] christophergandrud commented on #146
I'm closing this for now as plyr has been removed. Though we should give more thought to incorporating purrr.

[2017-02-10 12:49] #146 closed

[2017-02-13 14:33] christophergandrud commented on #181
It's probably best remove unknown methods tags like @export.

Working on the this in the [pkgdown branch](https://github.com/IQSS/Zelig/tree/pkgdown).

[2017-02-13 19:18] christophergandrud opened #216 "`names` for Zelig objects"
The `ls` vignette mentions that `names` can be used on a Zelig object to "examine the available information" in it. This doesn't seem to currently work:

[code]

Should this be functionality we make sure Zelig has?

[2017-02-13 21:25] christophergandrud commented on #216
Added a `names` method in f4dd50f13011208070a3dd6eaa5cb304a6b91fcd

I don't really like this right now as it just returns all of the method names, but does not indicate if they have been mutated. Though, `NULL` is no longer returned, so that's good.

[2017-02-13 21:25] #216 closed

[2017-02-14 15:19] christophergandrud opened #217 "Demos vs. vignettes"
Based on [Hadley's advice](http://r-pkgs.had.co.nz/demo.html) and the new documentation framework based on pkgdown--which works with vignettes rather than demos, we may want to consider moving the demo material into vignettes.

[2017-02-14 15:21] cchoirat commented on #217
Totally on board!

On Feb 14, 2017 4:19 PM, "Christopher Gandrud" <notifications@github.com>
wrote:

[2017-02-14 15:30] christophergandrud commented on #217
Cool. I'm storing the demos in this repo for the time being: https://github.com/IQSS/zelig-demos

[2017-02-14 15:38] christophergandrud commented on #215
If others experience this in RStudio make the Viewer window larger.

Similarly, in RMarkdown just set larger `fig.height` and `fig.width` to fit the plot.

[2017-02-14 15:38] #215 closed

[2017-02-14 16:30] ewanedwards opened #218 "Using bs() from library(splines) with setx()"
Hi there, I tweeted about this a couple of weeks ago. I'm a total Github n00b so please be patient!

I would like to run GEEs using bs() from the splines package to generate smoothed relationships i.e. GEE-GAMs as opposed to GEE-GLMs. I am modelling ecological binary (presence/absence) data using binomial GEEs to account for inherent autocorrelation within blocks of data.

The main appeal of your

[2017-02-14 16:30] christophergandrud commented on #159
This will be resolved in the new [pkgdown versions of the documentation](https://github.com/IQSS/Zelig/tree/pkgdown).

[2017-02-14 16:30] #159 closed

[2017-02-14 16:32] christophergandrud commented on #199
Factors are resolved in v5.0-15.

Polynomials and splines (https://github.com/IQSS/Zelig/issues/218) are next.

[2017-02-14 16:34] christophergandrud commented on #218
Hi @ewanedwards. Thanks for reporting this on GitHub.

I think the issue is related to https://github.com/IQSS/Zelig/issues/199 which I'm planning on addressing in the near future.

To help me out. Could you give a minimal reproducible example of the model you would like to estimate?

[2017-02-14 16:39] ewanedwards commented on #218
Thanks for replying Christopher.

My model is like this:

z.out <- zelig(pres_abs ~ bs(depth, knots=mean(depth)) + bs(slope, knots=mean(slope)) + bs(distance, knots=mean(distance)), model="logit.gee", id = "location", data = dat, corstr = "ar1")

where:
pres_abs is a binary variable indicating presence or absence
depth, slope and distance are continuous variables (greater than 0)

[2017-02-14 16:57] christophergandrud opened #219 "error rather than warning for missing variable in setx"
Currently if `setx` is given a name for a variable it can't find, it returns a warning here: https://github.com/IQSS/Zelig/blob/master/R/utils.R#L136

However, maybe it would be better to return an error.

I recently ran `setx` with a range of values. Each one returned a warning. However, the message I got in my console was just:

[code]

I could imagine that a user might not investigate the warni

[2017-02-14 17:09] christophergandrud commented on #160
I'm closing this for the time being. But it's clearly an ongoing process.

[2017-02-14 17:09] #160 closed

[2017-02-14 17:10] christophergandrud commented on #168
Ongoing in: https://github.com/IQSS/Zelig/tree/pkgdown

[2017-02-14 17:17] christophergandrud commented on #164
The workflow for `setx` with interactions also needs improvement.

For example, this runs fine:

[code]

But this doesn't:

[code]

More details:

[code]

[2017-02-14 19:41] christophergandrud opened #220 "`by` sims and plots only applied to one section"
In the following code, the model is estimated `by` whether the canton is majority or minority catholic. However the simulations are only from one model and only one plot is created.

[code]

[2017-02-14 19:43] christophergandrud commented on #214
Also need a work around for get_qi etc with this type of output.

[2017-02-14 19:49] cchoirat commented on #217
Actually, most demos were used for test purposes.  Glad you put them in
another repo.

On Tue, Feb 14, 2017 at 4:30 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-02-14 19:59] christophergandrud commented on #214
Completed in 4f92dbbc92d8f13e2af256640f7e8a11b32cdde5

[2017-02-14 19:59] #214 closed

[2017-02-14 20:45] christophergandrud opened #221 "summary(z.out)$* returns entire summary rather than requested element"
[code]

vs

[code]

[2017-02-14 20:55] christophergandrud commented on #221
Maybe it's best to side step this issue with the getters + `from_zelig_model`. Making this consistent across model types and given `by` and `mi` this might be a large tricky undertaking for an edge use that can be addressed with not much work using `from_zelig_model`.

[2017-02-14 20:55] #221 closed

[2017-02-14 21:07] christophergandrud commented on #221
Added example to `ls` vignette: 0afdd7643fadb3b20ac97e04ecadf5365335f833

[2017-02-14 22:34] christophergandrud commented on #147
Added in fc18cc337a6321dd1c49b97f358fa3a56449dff0.

I also did a `get_se` in c5705cae90074c6804f91748b21cc98700c448f8

[2017-02-14 22:34] #147 closed

[2017-02-15 20:24] #168 closed

[2017-02-15 20:41] christophergandrud commented on #219
Added in 3dec66abdda43e3a2275c11b9964d733bb1f83e0

[2017-02-15 20:41] #219 closed

[2017-02-15 20:45] christophergandrud commented on #54
RStudio CRAN downloads dashboard available at: https://iqss.github.io/rpackagemetrics/ (will also be linked to from the upcoming new Zelig site).

Still need more thought on the individual function stats. But I'll close this issue for the time being.

[2017-02-15 20:45] #54 closed

[2017-02-15 21:37] christophergandrud commented on #106
Thanks for reporting @enbrown. Should be implemented in f684d77d4937763cf76bee9eadb27866b12b97d2

[2017-02-15 21:37] #106 closed

[2017-02-16 13:43] christophergandrud commented on #44
What is the status of this? The Zelig site mentions that WhatIf works with Zelig is this still applicable?

[2017-02-16 20:16] christophergandrud opened #222 "Zelig and Tidyverse"
@mercecrosas following on from our meeting this morning, in 578171794494d9e5ea2954d05570886058398f28 I put a minimal vignette in flagging that Zelig accepts tidy data and can be 'piped', e.g.:

[code]

The Zelig workflow makes a lot of sense in piped workflow.

Pipes don't work with the reference class syntax, e.g.

[code]

Another issue is creating first differences as calling the `setx` wrapper

[2017-02-16 20:48] cchoirat commented on #222
Definitely worth exploring.

To make pipes & reference classes work together, you may want to try
solutions along the lines of:

library(Zelig)

library(magrittr)

data(cars)

Zelig <- zelig

Setx <- function(obj, ...) { obj$setx(...); return(obj) }

Setx1 <- function(obj, ...) { obj$setx1(...); return(obj) }

Sim <- function(obj, ...) { obj$sim(...); return(obj) }

Plot <- function(obj, ...) { ob

[2017-02-16 21:02] christophergandrud commented on #222
Looks good, I think we basically have all of this apart from a `setx1` function using the Zelig 4 wrappers.

[2017-02-17 13:13] christophergandrud opened #223 "Zelig support for two-stage least squares"
Hi @cchoirat and @tercer. I have a question over at the Zelig email address regarding support for instrumental variable regression. Looking through the docs it looks like the answer currently is no.

Am I missing something? If not, then this seems like something we could easily add to the Road Map.

[2017-02-17 14:21] christophergandrud commented on #222
Added the `setx1` wrapper in c504676a4bef596860ff94310684676d9e6c1ead

So you can now do:

[code]

[2017-02-17 14:26] cchoirat commented on #223
Correct, it's not supported (neither is 3SLS) and could be added to the
roadmap.

On Feb 17, 2017 2:13 PM, "Christopher Gandrud" <notifications@github.com>
wrote:

[2017-02-17 14:38] christophergandrud commented on #223
Sounds good. I've added it. to the roadmap.

[2017-02-21 14:15] #217 closed

[2017-02-21 14:18] christophergandrud commented on #176
FYI, `from_zelig_model` is available from version 5.0-15.

[2017-02-21 21:05] christophergandrud commented on #222
`zelig_qi_to_df` implemented in e666b475c0a493aa4acef4b1511c325dde06030e

For example:

[code]

returns:

[code]

`zelig_qi_to_df` returned the entire set of simulations and `qi_slimmer cuts it down to just the central interval for each simulation (95% by default).

[2017-02-21 22:13] christophergandrud commented on #222
. . . example added in 9e8d21c1511d2a7ecb6506cbbb3b56ff88856c3c @christophergandrud christophergandrud committed 25 seconds ago

[2017-02-21 22:13] #222 closed

[2017-02-21 22:14] christophergandrud opened #224 "Preserve original scenario order in `qi_slimmer`"

[2017-02-21 22:46] christophergandrud commented on #224
Done in eb62570c156a255cd225016101527cc99d201d62

[2017-02-21 22:46] #224 closed

[2017-02-22 14:22] christophergandrud commented on #220
I guess a temporary workaround is that `zelig_qi_to_df` returns the simulations for all of the `by` models, e.g.:

[code]

[2017-02-22 16:04] christophergandrud opened #225 "Enable models with logged covariates"
Enable:

[code]

[2017-02-22 16:05] christophergandrud commented on #225
related to https://github.com/IQSS/Zelig/issues/199 and https://github.com/IQSS/Zelig/issues/218 and https://github.com/IQSS/Zelig/issues/213

[2017-02-22 19:23] christophergandrud commented on #225
Implemented for natural logs in 53ff40cdcb96ce74ff8cbf7468a756247c65c107

Note that the implemented workflow is slightly different than above:

[code]

Users need to specify `log(15)` in the `setx` call to make sure that the intended fitted value is passed to `setx`, e.g. fitting at `dist = 15` on the natural log scale requires you to log transform the value 15.

[2017-02-22 19:24] christophergandrud commented on #225
What still needs to be done in future versions is to allow users to specify the basis, e.g. `log(15, base = 2)`

[2017-02-23 14:07] christophergandrud commented on #169
Implemented with `zelig_qi_to_df` and `qi_slimmer`

[2017-02-23 14:07] #169 closed

[2017-02-23 20:59] christophergandrud opened #226 "Bug in `show` and `plot` in models with factors"
[code]

Produces this plot:

![image](https://cloud.githubusercontent.com/assets/1285805/23278815/c52a74ba-f9e0-11e6-92f3-3aa0a6a6be37.png)

The simulations are done correctly for the range of `Petal.Length` as we can see from:

[code]

[2017-02-23 23:25] christophergandrud commented on #226
The main issue seems to come from here: https://github.com/IQSS/Zelig/blob/master/R/plots.R#L615-L619

[code]

Basically, the x-axis variable is chosen as being the one with fitted values with the lowest standard deviation.

Wouldn't it make more sense to choose the x-axis variable as the one with the number of unique fitted values equaling the number of scenarios? E.g. in the example above, `Peta

[2017-02-23 23:26] christophergandrud commented on #226
Another odd thing I just noticed. Why does the fitted values for the factor levels change across scenarios?

[2017-02-24 14:25] christophergandrud commented on #226
The latter issue seems to be because Mode randomly chooses a value if there is no mode: https://github.com/IQSS/Zelig/blob/master/R/utils.R#L12-L13

Should we use a different heuristic? Maybe just the first value?

Related to this: maybe `setx` should provide some messages about how it is choosing fitted values when they aren't provided by users. I know you can find this out with `summary`, but an

[2017-02-24 14:27] christophergandrud commented on #226
If everyone is ok with these changes, I'll implement them today.

[2017-02-24 23:21] christophergandrud commented on #226
Issues resolved in 861482dfd66c55b2dc06efc1a90f19fc91dc5e97

E.g.:

[code]

![image](https://cloud.githubusercontent.com/assets/1285805/23324749/d6c4587a-fabd-11e6-9862-41e975a9b32f.png)

[2017-02-24 23:21] #226 closed

[2017-02-28 16:15] cchoirat opened #227 "Use modelr in bootstrap method?"
https://github.com/hadley/modelr

We could use `resample` to store a pointer to the data instead of making copies.

[2017-02-28 17:16] vincentarelbundock opened #229 "get_coef/get_se: Return combined results when using MI dataset to estimate model"
Currently, ``get_coef`` and ``get_se`` return individual models' values when multiple imputation is used. Would be useful to have an option to return combined estimates instead (perhaps even by default).

[code]

[2017-02-28 18:52] christophergandrud commented on #229
That's a good idea.

I think the option to combine probably wouldn't be by default as the `get_*` functions are mostly for internal use. Thoughts @tercer and @cchoirat?

[2017-02-28 20:13] christophergandrud commented on #227
Sounds promising. I'll look into it after the poly/splines ordeal.

[2017-03-01 01:14] bgall commented on #144
@christophergandrud  I haven't had time to check the FPC, but it also appeared to occasionally not work. I am not opening an issue because I unfortunately don't have time to check and produce a reproducible example. Keep an eye out!

[2017-03-01 01:55] vincentarelbundock commented on #229
A simple and better (?) solution might be to create a ``rubin_rules`` function similar to ``pool`` in the ``mice`` package. For instance:

[code]

Example:

[code]

This produces the same result as current Zelig:

[code]

Bonus: With some minor tweaks, you could improve the function to remove code duplication (see #-comment at the second link):

https://github.com/IQSS/Zelig/blob/master/R/model-ze

[2017-03-01 06:59] tercer commented on #229
In terms of code reuse, two quick points.  The origin of this code is the *mi.meld()* function from Amelia:

https://github.com/IQSS/Amelia/blob/master/R/diag.r#L766-L808

So possibly we can either copy that into Zelig utils or attach.

Second, as to the point of code duplication, the se's in the bootstrap case are different than Rubin's rules, which is not a difficult problem to overcome, but req

[2017-03-01 12:58] christophergandrud commented on #144
Thanks. If you do encounter a problem please do open up an issue.

[2017-03-01 13:33] christophergandrud commented on #229
It seems like it may make sense to have one function in Zelig utils that can combine results from models when using multiple imputation or bootstrap. Using code currently in

https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L786

or

https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L826

when appropriate.

Maybe with the name `combine_coef_se`?

I would imagine that the main use

[2017-03-01 20:42] christophergandrud commented on #229
85ece9afc2d75bd3d5f934fffd834fd5d39f330f implements `combine_coef_se`. See: https://github.com/IQSS/Zelig/blob/master/R/utils.R#L440-L542

`combine_coef_se` takes as input a Zelig estimated function model with MI and/or bootstrapping and returns a list containing the combined coefficients, standard errors, z and p values. For example:

[code]

Note it replicates `zelig` `show`s current behaviour w

[2017-03-01 20:48] cchoirat commented on #229
That's great!

Have you tried printCoefmat in
https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L786-L813?

On Wed, Mar 1, 2017 at 3:42 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-03-01 20:50] tercer opened #230 "ZeligChoice: get_qi has broken plot method"
The plot method for ZeligChoice has broken with the latest Zelig release as it can not find the newly renamed get_qi internal.  My assumption is this is the same logic as issue #187 .  That was fixed by bumping up the Zelig dependency.  So I'll up the dependency, and we should push ZeligChoice to CRAN again.

Examples follows:
<img width="675" alt="screen shot 2017-03-01 at 3 41 51 pm" src="https:

[2017-03-01 20:55] christophergandrud commented on #229
@cchoirat that's a good idea. Trying now. . .

[2017-03-01 21:00] vincentarelbundock commented on #229
Out of curiosity (now that you're looking at this stuff), what's the recommended way to to extract the 4 sets of statistics produced by ``combined_coef_se`` in regular, non-MI models? I see a ``getcoef()`` and a ``getvcov()``, but no ``getp``, for example.

Would it be possible to allow users to capture the output of ``show()``?

When dealing with ``lm`` objects, I'll sometimes summary(model)$coef

[2017-03-01 21:08] christophergandrud commented on #229
@vincentarelbundock Yeah, I was thinking about that too.

There is a `get_pvalue`, but not `get_zvalue`.

Before embarking on this, what is the advantage over `z$get_*()`?

[2017-03-01 21:11] cchoirat commented on #229
Great (#166)

On Wed, Mar 1, 2017 at 3:55 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-03-01 21:16] vincentarelbundock commented on #229
I was having issues the other day with ``get_pvalue()``, but that appears to have been user error, since it works now.

I suppose there's not much added relative to the ``get_*()`` beyond convenience and conformity of user experience across Zelig and base R.

When ``coef(model)`` and ``summary(model)$coefficients`` both failed, I had to look at ``str()`` before I could find ``model$get_coef()``. C

[2017-03-01 21:19] christophergandrud commented on #229
@vincentarelbundock That is a good point regarding ease of use.

[2017-03-01 21:20] vincentarelbundock commented on #229
sorry to keep coming up with ideas for other people to execute, but wouldn't it be easy to create some sort of alias for ``coef(mod)`` to trigger ``mod$get_coef()``?

[2017-03-01 21:21] vincentarelbundock commented on #229
In general, it just seems like facilitating the use of idiomatic R expressions would be a good thing.

[2017-03-01 21:23] christophergandrud commented on #229
This does exist: https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L1418-L1424

Though seems be broken.

[2017-03-01 21:26] christophergandrud opened #231 "coef broken"
[code]

[2017-03-01 21:26] christophergandrud commented on #229
Opened a new issue: https://github.com/IQSS/Zelig/issues/231

[2017-03-01 21:29] christophergandrud commented on #166
First attempt: 1af88d5f876f37c62dc2ce27fc5731f17b90300d

Though stars and digits don't seem to be working.

[2017-03-01 21:29] #229 closed

[2017-03-01 21:32] cchoirat commented on #166
Likely because of
https://github.com/IQSS/Zelig/blob/master/R/model-zelig.R#L762-L764.

On Wed, Mar 1, 2017 at 4:29 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-03-01 21:40] christophergandrud commented on #230
Looks like ZeligChoice is ready to go. Should I push it to CRAN now?

[2017-03-01 21:41] christophergandrud opened #232 "Integrate ZeligChoice tests into Core Zelig Tests"
https://github.com/IQSS/Zelig/issues/230

[2017-03-01 22:07] tercer commented on #230
Sure.  I was following up on multinomial plots before pinging you for this, but that is not looking like having any consequences for ZeligChoice.

Also, to confirm, the issue is indeed fixed with this dependency update.

[2017-03-01 22:11] tercer commented on #206
The underlying issue is the expected values generated by mlogitbayes are 3-dimensional arrays as opposed to matrices, and `simulations.plot()` doesn't recognize what to do with them, so runs default behaviour.

Am working out whether to make `simulations.plot()` more flexible, or adjust the `$qi()` method for the  `mlogitbayes`  model.

[2017-03-01 23:28] christophergandrud commented on #230
Great! I'll push the updated version to CRAN now  . . .

[2017-03-01 23:28] #230 closed

[2017-03-02 01:19] tercer commented on #223
Obviously entangled with #128

[2017-03-02 03:38] tercer commented on #206
The same structure (3-dimensional arrays as output for expected values) is also found in `oprobitbayes`.

[2017-03-02 04:25] tercer commented on #206
The array structure is present in Zelig 3.5, and seems to have been ported directly.

@cchoirat:  What are the circumstances under which the model matrix `mm` would have multiple lines in the `qi` call, given how we presently use `dplyr`?  Is the possibility of a multiple line `mm` simply vestigial to Zelig 3.5?

I see you thought a bit about this here:
https://github.com/IQSS/Zelig/blob/master/R/

[2017-03-02 04:42] cchoirat commented on #206
@tercer: there are no examples of model matrices with multiples rows.  I
kept them from Zelig 3.5 and 4 thinking they'd be useful at some point.
Never ran into a concrete case though.

On Wed, Mar 1, 2017 at 11:25 PM, James Honaker <notifications@github.com>
wrote:

[2017-03-02 04:43] tercer commented on #220
Do you have an idea of what ideal plot behavior would be.  Presently, we build up this panel of very many different plots, showing different ways of interpreting whatever qi's exist.  Under that present logic, would you create all of these panels, and cycle through them?  Create some higher level summary?  Have a default panel to show, but allow the user to somehow specify any of the other `by` co

[2017-03-02 04:46] tercer commented on #227
That would be good.  That would also help when bootstraps are used to approximate weights, and for implementation of the Jackknife, which was not going to be at all efficient under the current `by` structure.

[2017-03-02 09:32] christophergandrud commented on #220
I initially thought of just cycling through. But maybe an overview would be good. This could be easy with ci plots. Just put them in a grid.

[2017-03-02 21:44] tercer commented on #206
Given @cchoirat 's message, an immediate fix is now up here: https://github.com/IQSS/Zelig/commit/aa02a84ab8680169be0e29ac019a70a1d8113a4c

I'll work through though to create a more comprehensive review to pare down the code for the QI's and also make it more readable.

[2017-03-02 23:32] tercer commented on #206
Example of fix up on model page for zeligproject.org:

<img width="595" alt="screen shot 2017-03-02 at 6 30 45 pm" src="https://cloud.githubusercontent.com/assets/2085037/23531856/876ec554-ff76-11e6-9927-6a9e805f6581.png">

[2017-03-05 12:45] christophergandrud opened #235 "zeligt_qi_to_df for multinomial outcomes."
[code]

Produces:

[code]

[2017-03-05 12:52] christophergandrud commented on #206
Looks good. I tested it out and updated the NEWS in 5ad8051fc0cf2b6420f2d585e636fd576576ae84

Is there anything else we need to do to close this?

[2017-03-05 23:46] tercer commented on #206
I'm still planning to rewrite the qi functions.  Should get to this week.

[2017-03-06 12:45] christophergandrud opened #236 "Restore WhatIf integration with Zelig"
E.g.:

![screen shot 2017-03-06 at 13 43 48](https://cloud.githubusercontent.com/assets/1285805/23610480/f7dad93c-0272-11e7-8e54-743e35923c0c.png)

From: http://gking.harvard.edu/files/gking/files/z.pdf

Ideally, this should work:

[code]

[2017-03-06 15:24] christophergandrud commented on #236
First step implemented in 596fe001b75b3a2cae184f2badb25157f821a37d

This includes a new Zelig function `zelig_setx_to_df` for extracting "counterfactuals" from a Zelig object.

Note: factors and the like are probably going to be tricky.

[2017-03-07 08:40] christophergandrud commented on #236
Zelig 5 integration working in WhatIf, but not for factors: afbf5211b67d70a7af84055ea2f0762f261f044b

[2017-03-07 17:03] christophergandrud commented on #236
Created a pull request with WhatIf integration working, including factors: https://github.com/IQSS/WhatIf/pull/3

We'll need to release Zelig 5.0-17 before the new version of WhatIf can be released to CRAN.

[2017-03-07 17:03] #236 closed

[2017-03-08 09:04] christophergandrud opened #237 "`plot` does not pass arguments to `ci.plot`"
For example:

[code]

does not change the x-axis label:

![image](https://cloud.githubusercontent.com/assets/1285805/23697250/5ddbff8e-03e7-11e7-924f-76fac3449710.png)

[2017-03-08 09:17] christophergandrud commented on #237
Solved in e049fd3cbf54e6456fa9f97085eb62c31f817a48, so now:

[code]

produces:

![image](https://cloud.githubusercontent.com/assets/1285805/23697534/6b5483d8-03e8-11e7-8479-3770685a914a.png)

[2017-03-08 09:17] #237 closed

[2017-03-08 10:08] christophergandrud opened #238 "`setrange` for ploy, splines, etc"
Before figuring out a more general solution to issues like: https://github.com/IQSS/Zelig/issues/218 and https://github.com/IQSS/Zelig/issues/199 I thought I would write up a vignette for doing covariate transformations outside of `zelig`. For example:

[code]

However, this doesn't return the set of fitted values we would want, i.e. a one to one match of the base and squared versions of `dist`. I

[2017-03-08 10:11] christophergandrud commented on #238
This is clearly due to the use of `expand.grid` which matches all values of `dist` to all values of `dist_2`: https://github.com/IQSS/Zelig/blob/e87468d86de0b456f370a7a95ef37552f13a3af2/R/utils.R#L250

I'm thinking that a determination should be made that if equal length ranges are given to `setrange` that they should not follow this behaviour.

[2017-03-08 12:53] christophergandrud commented on #238
Working in: 3287f7d7b9e9cfa1445d62cf6d4741b69578d675

Also, a vignette in the pkgdown branch with examples for poly and splines: https://github.com/IQSS/Zelig/blob/ecc9487e91e68639eb3153f3a670355390e4d9cf/vignettes/transforming-covariates.Rmd

[2017-03-08 12:54] #238 closed

[2017-03-08 12:55] christophergandrud commented on #218
The current dev version downloadable from GitHub (`devtools::install_github('IQSS/Zelig')` should be able to get you what you want. Though currently you need to create the splines *outside of* the `zelig` call.

Here is a silly example:

[code]

[2017-03-08 12:56] christophergandrud commented on #218
I'm going to close this issue for now, but hope to have the fully implemented syntax you propose in a future Zelig version.

[2017-03-08 12:56] #218 closed

[2017-03-08 12:57] christophergandrud commented on #238
Example:

[code]

[2017-03-08 12:59] christophergandrud commented on #199
Dev version supports the following syntax which gets the results you want, e.g.:

[code]

![image](https://cloud.githubusercontent.com/assets/1285805/23704892/52838aa6-0407-11e7-9b30-438e66aed0fd.png)

Not the streamlined syntax we want yet. But the model type is at least possible.

Closing the issue for the time being, but will be back to this for a streamlined syntax.

[2017-03-08 12:59] #199 closed

[2017-03-08 14:01] christophergandrud commented on #231
Fixed in deac2f93c60145ba9dfeb352ad2a04274244fb6c (also fixed for `coefficients`, `vcov`, `fitted`, and `predict`):

(fyi @vincentarelbundock)

[2017-03-08 14:01] #231 closed

[2017-03-09 12:44] #179 closed

[2017-03-10 12:53] christophergandrud commented on #235
Needs to also change behaviour in `qi_slimmer`.

[2017-03-10 17:00] christophergandrud commented on #235
Resolved in: ca70b1c2e8d6762ceea5f37cb32074b2147fae79

For example:

[code]

and

[code]

[2017-03-10 17:00] #235 closed

[2017-03-13 12:18] christophergandrud commented on #232
Thinking this will happen in new *zeligverse* package rather than core *Zelig*.

[2017-03-13 13:50] christophergandrud commented on #229
Note that the default behaviour (from 3f74a0d9102ea3e7e37588449634b475fa02a2ab) is to return a matrix rather than a list. Though a list can still be returned with `out_type = "list"`.

[2017-03-13 13:52] christophergandrud commented on #166
From 3f74a0d9102ea3e7e37588449634b475fa02a2ab:

[code]

using `printCoefMat`

[2017-03-13 13:52] #166 closed

[2017-03-13 14:15] christophergandrud opened #239 "cite default"
The default behaviour in Zelig is to return a verbose citation, e.g.:

[code]

I've been looking at a fair amount of Zelig "code in the wild" and users almost always turn this off with the `cite = FALSE` argument value.

Having taught with Zelig I almost always do this as well in my knitted lecture slides as otherwise the code example slides would be overrun with repeated citation information. But

[2017-03-17 15:31] christophergandrud commented on #170
`check_suggested` from devtools:

[code]

[2017-03-18 15:35] christophergandrud opened #240 "Multinomial logit with different variable lists by response category"
Reported by John Jackson via email:

Running a multinomial logit and specifying different variable lists for some categories returns the following error message, `"Error in formula.default(object, env = baseenv()) : invalid formula"`, e.g.:

[code]
If list of right hand side variables is not varied:

[code]

it works fine.

[2017-03-18 19:57] tercer commented on #240
This is the same underlying issue as #128 #223 IQSS/ZeligChoice#14 IQSS/ZeligChoice#17 , that is, there is no presently enabled syntax for systems of equations.

The trajectory on this issue, was that it was considered an essential part of multilevel/hierarchical models, and so a syntax would be devised in hand with making those models, which are #35 #113 .  There was a previous syntax in version

[2017-03-18 20:32] christophergandrud commented on #240
If @cchoirat is already on this, then that's great.

I guess one issue is whether we want to pull back in what was in v3.5 to reestablish backwards compatibility (John uses this example in teaching and it used to work), before getting to the broader solution? Or should it all be rolled out at once?

[2017-03-22 13:44] christophergandrud commented on #240
fyi: Multiple formulas are mentioned for `mlogit` in the current documentation: http://docs.zeligproject.org/en/latest/zeligchoice-mlogit.html

[2017-03-22 13:54] christophergandrud commented on #240
If I understand correctly (using the source from the CRAN archive) in Zelig 3.5, `mlogit` was specified using:

[code]

with a lot of the work of parsing the formula being done by an internal function called `parse.formula` (I've re-hosted it here: https://gist.github.com/christophergandrud/42bccce985640c5a43948523f1ae46ad)

[2017-03-22 14:05] christophergandrud commented on #240
I guess my question is, what are the impediments to reintroducing this set up to at least establish backwards compatibility for this feature in `mlogit` (at least as a bandage while we work on a more general solution)?

[2017-03-22 18:09] tercer commented on #240
(I removed the documentation issue for `mlogit` in zeligproject.org.)

[2017-03-23 18:23] christophergandrud commented on #240
Here is a more easily reproducible example (from the old docs):

[code]

[2017-03-23 18:42] christophergandrud commented on #223
Section 5 of the [Formula package vignette](https://cran.r-project.org/web/packages/Formula/vignettes/Formula.pdf) may provide some guidance here if we chose to use the **Formula** package.

[2017-03-23 21:18] christophergandrud commented on #240
One option, that I don't really like, would be to wrap [mlogit](https://cran.r-project.org/web/packages/mlogit/vignettes/mlogit.pdf) rather than VGAM.

- On the positive side, this uses a version of Formula that allows much more complex relationships than is allowed in Zelig. It doesn't look like it would break anything that isn't already broken. It would also broadly match a multiple equations sy

[2017-03-23 21:32] tercer commented on #240
Just as a point of information, in terms of ever thinking about standardizing, the EI models use the `cbind(y1, y2)~` notation currently, while the survival models use `Surv(y, c)~' (for outcome y, censored indicator c).  Both of those I believe were adhering to what was used in Zelig 3.5.

[2017-03-23 21:53] christophergandrud commented on #240
Thanks for pointing those out!

[2017-03-24 12:59] christophergandrud commented on #240
For Survival models . . . maybe we should keep the `Surv(. . . .)` syntax as this matches the syntax in the Survival package and really has a different set of needs than what Formula addresses.

[2017-03-24 16:07] christophergandrud commented on #240
End of Max Kuhn's post: on [R Formula's the bad parts](https://www.rstudio.com/rviews/2017/03/01/the-r-formula-method-the-bad-parts/)

[2017-03-24 21:00] christophergandrud commented on #223
Basic working version of IV regression working: https://github.com/IQSS/Zelig/tree/ivreg

This wraps `ivreg` from AER (which Zelig already imports for `tobit`). `ivreg` uses Formula formulas.

It looks like it breaks the formula transformer I had for logs and factors. So I need to fix that. Also need to think about quantities of interest.

[2017-03-27 13:19] christophergandrud commented on #113
I'm closing this do to a lack of reproducible example. Feel free to reopen when available.

[2017-03-27 13:19] #113 closed

[2017-03-27 13:20] christophergandrud commented on #44
Resolved in Zelig 5.0-17 https://github.com/IQSS/Zelig/releases/tag/v5.0-17

[2017-03-27 13:20] #44 closed

[2017-03-27 13:24] christophergandrud commented on #77
I believe Mark Hill has just started creating a package to do much of this. Will work with him to integrate it with Zelig.

[2017-03-27 13:26] christophergandrud commented on #82
Related to: https://github.com/IQSS/Zelig/issues/77

[2017-03-27 13:26] christophergandrud commented on #163
Will fully address this with NaLette

[2017-03-27 13:26] #142 closed

[2017-03-27 13:30] christophergandrud opened #241 "Use Formula package for formulas"
See https://github.com/IQSS/Zelig/issues/240 for preliminary discussions.

Also related to https://github.com/IQSS/Zelig/issues/223, https://github.com/IQSS/Zelig/issues/62, https://github.com/IQSS/Zelig/issues/128, https://github.com/IQSS/ZeligChoice/issues/17, https://github.com/IQSS/ZeligChoice/issues/14

[2017-03-27 13:43] #62 closed

[2017-03-27 13:57] christophergandrud opened #242 "Emphasise wrappers and pipes in docs"
After working with the different Zelig syntax styles, the wrappers with pipes seems to me like the way to go.

- There is just a natural flow to the Zelig method that pipes are an obvious benefit for.

- The `setx` wrapper is also much simpler than working with `setx`, `setrange`, etc. (see https://github.com/IQSS/Zelig/issues/164)

I smoothed out some issues with the piped workflow: https://githu

[2017-03-27 13:57] christophergandrud commented on #242
Relatedly, I'm wondering if it is worthwhile even exporting the pipe operator `%>%` from Zelig so that users don't need to load **dplyr** separately.

[2017-03-27 15:46] christophergandrud commented on #112
I'm going to close this issue for the time being. I kind of worry that placing the data in another package would make package maintenance more cumbersome. However, if there is a burning case that develops to do this, feel free to reopen.

[2017-03-27 15:46] #112 closed

[2017-03-27 15:51] christophergandrud commented on #77
I believe Mark Hill has ambitions for that package which would also impact https://github.com/IQSS/Zelig/issues/140

[2017-03-27 15:51] christophergandrud commented on #140
This is not currently supported, but may be addressed in future releases. Related to https://github.com/IQSS/Zelig/issues/140

[2017-03-27 15:51] #140 closed

[2017-03-27 16:02] christophergandrud commented on #164
https://github.com/IQSS/Zelig/issues/75

[2017-03-27 16:03] christophergandrud commented on #75
See further discussion at https://github.com/IQSS/Zelig/issues/75

[2017-03-27 16:03] #75 closed

[2017-03-28 14:30] christophergandrud commented on #225
Currently, you need to supply fitted values for each logged value with a  `log` transformation. E.g., this would not give you the expected set of fitted values:

[code]

`Sepal.Width` has not been log transformed as needed, instead the raw mean was entered.

This can be done manually with:

[code]

But it would be nice to not have to do this.

[2017-03-29 13:41] jefunes commented on #220
I am trying to obtain att.ev from sim output but i keep getting an error, please see code below:

z.m_b1 <- zelig(log(wy_yield_plot+1) ~ hhead_age + hh_education_mean + xx55 + w_c + perc_own_title + bean_area + dem, data=out_data_m_b1_control,model="ls")

x.out1 <- setx(z.m_b1,data=match.data(m_b1="treat"),cond=TRUE)

s.out1 <- sim(z.m_b1, x=x.out1)

Here i tried different ways to obtain att.ev va

[2017-03-29 13:54] christophergandrud opened #243 "Problem extracting `att.ev`"
From @jefunes on https://github.com/IQSS/Zelig/issues/220:

I am trying to obtain `att.ev` from sim output but i keep getting an error, please see code below:

[code]

Here i tried different ways to obtain att.ev values from sim output:

[code]
then i tried

[code]
Please advice,
Thanks so much for your support.

[2017-03-29 13:55] christophergandrud commented on #220
Thanks for your issue @jefunes. This seems like a separate topic so I created a new issue over at:
https://github.com/IQSS/Zelig/issues/243

Please follow progress there.

[2017-03-29 14:00] christophergandrud commented on #243
To help me explore this issue, @jefunes could you provide a minimal data set for reproduce the problem?

Preliminary thought: it looks like you are using old Zelig < 5 syntax and may want to use the `ATT` method. E.g. something like:

[code]

Filling in the `treatment` and `xvalue` as relevant

[2017-03-29 14:29] jefunes commented on #243
[sim.zip](https://github.com/IQSS/Zelig/files/879379/sim.zip)

[2017-03-29 14:29] jefunes commented on #243
Thanks so much for your quick reply. I will try the code you suggested. I attached a dataset. regards

[2017-03-29 14:40] jefunes commented on #243
5.0.17 Zelig version i am using

[2017-03-29 20:59] christophergandrud commented on #243
Can you send this data in a plain text format like CSV?

[2017-03-30 02:23] jefunes commented on #243
[sample code data.zip](https://github.com/IQSS/Zelig/files/880866/sample.code.data.zip)

[2017-03-30 02:24] jefunes commented on #243
i sent you sample code and data. thanks so much.

[2017-03-30 12:19] christophergandrud commented on #243
I'm sorry, but that is not a comma separated values formatted file. Can you please send

(a) exactly the code minimal code necessary you used to reach the issue, including loading the data set and necessary packages

(b) the minimal data set that is loadable by the code in (a) you used to reach the issue.

That will really help me address this.

Also, have you tried the new syntax yet to see if th

[2017-03-30 15:08] andreashandel opened #244 "bug in normal.gee?"
I'm trying to fit a normal.gee model. If I do it directly with the geeglm function, it works. If I do what I think is exactly the same thing through Zelig, it fails. Here is a reproducible example:

[code]
Am I missing something obvious? Thanks.

[2017-03-30 15:45] christophergandrud commented on #244
Thanks for your message @andreashandel. I'll take a look.

[2017-03-30 15:49] christophergandrud commented on #244
Initial thought: it seems like the issue is with the way Zelig is handling the formula. For example, if you add in the right hand side variables explicitly it seems to work.

I'll do more digging thought.

[2017-03-30 16:02] christophergandrud commented on #225
Arbitrary log transformations are now enabled in 6d5c8f2acce1855b77d2b3f67bb0f3053092d98e

For example:

[code]

In theory we could now work with any transformation that returns a single term. Though I have it limited to `log` now before we have a good exception handling for this (e.g. avoid transformations that return multiple terms).

[2017-03-30 23:23] jefunes commented on #243
I tried the new syntax but did not work. Please see the new file and code. Thanks so much.
[sample.zip](https://github.com/IQSS/Zelig/files/884055/sample.zip)

[2017-03-30 23:23] jefunes commented on #243
it should work, i checked the csv file in the suggested tool.

[2017-03-30 23:47] christophergandrud opened #245 "ATT and simATT documentation"
It looks like `ATT` and `simATT` are undocumented.

Is there any documentation already around in a different location that I'm missing that I could use to begin building this?

[2017-03-30 23:50] christophergandrud commented on #243
Thanks. This seems to be related to a larger issue with the methods (https://github.com/IQSS/Zelig/issues/245) that will require some work to untangle.

Could you give me more background on this data and what you are trying to achieve?

[2017-03-31 12:37] christophergandrud commented on #244
I have a working solution in this branch: https://github.com/IQSS/Zelig/tree/dotformula

Download it with:

[code]

I haven't merged it into master yet, however, because the solution seems to interfere with `relogit`. Will keep working on this.

[2017-03-31 12:37] christophergandrud commented on #244
I have a working solution in this branch: https://github.com/IQSS/Zelig/tree/dotformula

Download it with:

[code]

I haven't merged it into master yet, however, because the solution seems to interfere with `relogit`. Will keep working on this.

[2017-03-31 12:38] christophergandrud commented on #244
Issue related to: https://github.com/IQSS/Zelig/issues/244

[2017-03-31 12:38] christophergandrud commented on #244
Issue related to: https://github.com/IQSS/Zelig/issues/87

[2017-03-31 12:39] christophergandrud commented on #87
I have a working solution in this branch: https://github.com/IQSS/Zelig/tree/dotformula

Download it with:

[code]

I haven't merged it into master yet, however, because the solution seems to interfere with relogit. Will keep working on this.

Issue also related to: https://github.com/IQSS/Zelig/issues/244

[2017-03-31 12:56] christophergandrud opened #246 "Relogit with robust SE docs"
Documentation for Relogt includes a failing robust standard errors example: http://docs.zeligproject.org/en/latest/zelig-relogit.html?highlight=relogit

Related to: https://github.com/IQSS/Zelig/issues/140 https://github.com/IQSS/Zelig/issues/38 https://github.com/IQSS/Zelig/issues/59

[2017-03-31 15:23] christophergandrud opened #247 "Notes on Zelig Formulas"
This isn't really an issue, but a note on how I've been re-developing formulas in Zelig for future reference.

First, in a `zelig` object there are two primary representations of a formula.

- the `formula` field, e.g. `.self$formula`

- the `formula` field in `model.call`, e.g. `.self$model.call$formula`

The first is used in `setx` and from Zelig [5.0-15 and 5.0-16](https://github.com/IQSS/Zelig

[2017-03-31 15:32] christophergandrud commented on #247
In an attempt to allow `update` and `.` in formulas and set up the infrastructure for multiple equations with the Formula package I've made changes  that currently (as of https://github.com/IQSS/Zelig/commit/7a1a2e2401bab949ca9d4342ac2502cc653dd0b2) transform `.self$formula` and then replace `.self$model.call$formula` with the result.

This has a number of negative consequences I'm working through

[2017-03-31 18:32] christophergandrud commented on #247
Related to https://github.com/IQSS/Zelig/issues/244 and https://github.com/IQSS/Zelig/issues/87

[2017-03-31 19:16] christophergandrud commented on #247
I believe the relogit issue is now addressed in ed1b769d99ac800fc8913b4cac0aa8204f78cf40

The solution was doing the `cbind( )` on the right hand side in a new method for `relogit` (`modcall_formula_transformer`) run after the `.self$formula` has been transformed. This approach should be easy to adopt for other model types as necessary.

[2017-03-31 20:43] christophergandrud commented on #247
New issue is that the new formula implementation isn't working for imputed data sets (and the transformers probably haven't since 5.0-15.

[2017-04-01 17:35] andreashandel commented on #244
Thanks!

I have a more general question (which changes the topic a bit, so I could open another issue with this if you think that's better.)

I want to fit/predict with normal.gee in a cross-validation framework. To that end, I want to fit my training data with normal.gee and then predict the test data outcomes.
Something like this:
geefit = zelig(formula = outcome ~ . , model = "normal.gee", id =

[2017-04-01 20:46] christophergandrud commented on #244
We recently introduced a new function--`zelig_qi_to_df`--to extract simulations from `sim` in a data frame. (We are rewriting the docs, so this hasn't been fully included yet in the docs).

Could you give this a test and if it doesn't work, open a separate issue?

[2017-04-01 22:46] andreashandel commented on #244
Thanks for the quick reply! I tried the function, it seems to work, but I'm still not able to get what I want. I think I'm not fully understanding how things work. I assumed that in the example I gave above, if traindata is an KxN dataframe and testdata is an MxN dataframe, when I do setx() and then sim() as shown above, I get predictions for all M observations in my testdata. But looking at the o

[2017-04-02 01:34] shrabasteebanerjee opened #248 "Bivariate probit error: list function doesn't work"
Hi,

I have been trying to run a bivariate probit using both reference classes and wrappers (following the syntax here: http://ftp.uni-bayreuth.de/math/statlib/R/CRAN/doc/vignettes/Zelig/bprobit.pdf and here for reference classes: http://docs.zeligproject.org/en/latest/zeligchoice-bprobit.html), but it doesn't work:

[Y1 = more_than_2
Y2 = divorced
X's = same_sex, Y1,...(other controls not mention

[2017-04-02 14:08] christophergandrud commented on #244
`setx` will make draw, by default,  1000 draws for each scenario given it. The scenarios are set by providing values for each covariate (and central tendencies for covariates not specified explicitly in `setx`), e.g.:

[code]

This will make 1000 draws for each of 10 scenarios.

I'm a little surprised that providing a data frame of fitted values didn't produce an error. I'll look into that. But ot

[2017-04-02 14:47] jefunes commented on #243
Sorry for my late reply. It relates to agricultural technology effect on crop yields from a cross sectional dataset. I aim to distinguish between a control and a treatment group to compare yields. Please let me know if you have questions. Thanks.

[2017-04-02 19:41] christophergandrud commented on #248
Hi @shrabasteebanerjee

Unfortunately, support for multiple right-hand side equations was removed in Zelig 5. So you would not be able to estimate this model. We are slowly trying to reintroduce these capabilities.

[2017-04-02 19:41] #248 closed

[2017-04-02 19:47] shrabasteebanerjee commented on #248
Thanks very much for your response! Just out of curiosity, might you be
aware of packages on R that have this functionality?

Best,

Shrabastee

On Apr 2, 2017 3:41 PM, "Christopher Gandrud" <notifications@github.com>
wrote:

[2017-04-03 11:54] christophergandrud commented on #248
Sorry I don't (I don't use these models in my research so haven't really looked.)

[2017-04-03 21:20] christophergandrud commented on #247
Final first implementation or dot formulas and Formula formulas. Should work with Amelia and MatchIt data b6a7a3a6124a57eb4a121ddc10d04d85153826ce

[2017-04-03 21:20] #247 closed

[2017-04-03 21:20] christophergandrud commented on #244
Merged into master in b6a7a3a6124a57eb4a121ddc10d04d85153826ce

[2017-04-03 21:20] #244 closed

[2017-04-03 21:21] christophergandrud commented on #87
Merge into master in b6a7a3a6124a57eb4a121ddc10d04d85153826ce

[2017-04-03 21:21] #87 closed

[2017-04-10 19:19] magazinnik opened #249 "relogit with clustered standard errors"
I receive the following error when trying to run relogit with clustered standard errors:

Function call is:
`model2 <- zelig(consider1 ~ s_un_reg + hostileMID + polity2 + cap_2 + pwrratio + postArt56 + postCW + prgmyrs + NCAnosafetodate + cap_1 + contig + noconsideryrs + spline1 + spline2 + spline3, data=newdata, model="relogit", robust=TRUE, cluster="dyadid")`

(Opening a new issue from the one b

[2017-04-11 05:17] christophergandrud commented on #249
Thanks for reporting. This is actually covered in another issue: https://github.com/IQSS/Zelig/issues/140

A colleague is doing a complete rework of robust standard errors in light of: https://gking.harvard.edu/publications/how-robust-standard-errors-expose-methodological-problems-they-do-not-fix. Not sure when it will be finished though.

[2017-04-11 05:17] #249 closed

[2017-04-11 05:21] christophergandrud opened #250 "Discrepancy of results of ordered logit zelig vs polr"
From Yon Soo Park via email:

I just want to send a note about something that came up as I was using Zelig for ordered logit. It seems that ordered logit regression using zelig and orderd logit regression using polr is different when I specify weights.

The following two models present 2 different outcomes. However, if I remove the weights parameter, they yield the same results.

[code]

[2017-04-11 11:27] magazinnik commented on #249
Thanks, very helpful. So I take from this that just because the same model ran in Stata (relogit) doesn't mean it should be trusted.

Looking forward to the rework.

[2017-04-11 11:39] christophergandrud commented on #246
Removed example from docs until capability is returned.

[2017-04-11 11:39] #246 closed

[2017-04-11 12:44] christophergandrud commented on #249
Yep, the implementation is Stata is different than the Zelig implementation.

[2017-04-12 22:29] tercer opened #251 "ZeligGAM: as.Formula breaking all the GAM models"
All of the GAM models are breaking because as.Formula is missing.

<img width="875" alt="screen shot 2017-04-12 at 6 21 36 pm" src="https://cloud.githubusercontent.com/assets/2085037/24982066/908d5180-1fad-11e7-8bc5-650420d6d690.png">

My guess is this is a result of internal changes to the Formula use.

I realize this package is under development, but when it breaks the docs on zeligproject.org,

[2017-04-12 22:47] tercer opened #252 "ZeligMultilevel: zeligPlyrMutate breaking all models"
All the Multilevel models are breaking because zeligPlyrMutate has gone.

<img width="873" alt="screen shot 2017-04-12 at 6 40 26 pm" src="https://cloud.githubusercontent.com/assets/2085037/24982576/0b351f56-1fb0-11e7-87f5-3acc812e3129.png">

This is likely just the name change in #175 creating the same issue as seen in #187

I realize this package is under development, but when it breaks the docs

[2017-04-13 05:13] christophergandrud commented on #251
Hm would it make sense to have the Zelig docs built from the released rather than development version of Zelig?

[2017-04-13 05:15] christophergandrud commented on #252
Agreed on removing models from the docs before they are released.

[2017-04-13 05:41] christophergandrud opened #253 "Zelig getter docs broken"
Example at Zelig docs-- http://docs.zeligproject.org/en/latest/getters.html --returning error:

<img width="301" alt="screen shot 2017-04-13 at 07 28 36" src="https://cloud.githubusercontent.com/assets/1285805/24991408/da48dcc8-201a-11e7-8fe7-8c6f3bb2bd67.png">

I'm not actually able to reproduce the error locally:

[code]

Works fine with the current master build 4750fbcf1c92c8d24f61dec512b8af0d5

[2017-04-13 05:51] christophergandrud commented on #253
This is especially perplexing because the model was definitely estimated. The screenshot above is preceded by:

<img width="465" alt="screen shot 2017-04-13 at 07 49 37" src="https://cloud.githubusercontent.com/assets/1285805/24991819/ed76159c-201d-11e7-837c-2d13ec053804.png">

[2017-04-13 08:46] christophergandrud commented on #250
More replication code from Yoon Soo Park:

[code]

[2017-04-13 14:56] tercer commented on #253
I was looking into this for a little while, and then put up on the doc issue queue (https://github.com/IQSS/docs.zeligproject.org/issues/16) as you saw.  The example is fine, and runs in both Zelig 5.0-17 and 5.1-0.  In fact it's the same example that runs without a problem on the poisson model page.  The bootstrap documentation that comes next has the same issue:

<img width="871" alt="screen sho

[2017-04-13 14:58] tercer commented on #245
There is now the smallest piece at the bottom of the getters documenation ( http://docs.zeligproject.org/en/latest/getters.html ), and as soon as #253 is resolved, I'll add an section specifically about ``ATT``.

[2017-04-13 15:29] tercer commented on #251
The comment "under development" was really a reference to ZeligGAM, not Zelig itself.  From my perspective, I've found it useful to be able to write the docs at the same time as developing features, see issues that break in the examples, and then fix them live in the code.  However, pegging the docs to a stable release has been on the wishlist of @cchoirat .

Also, seeing the docs break has often

[2017-04-13 17:23] tercer opened #254 "Setx breaking for exp model"
The ``setx`` method is throwing up errors in the ``exp`` model.  This was mentioned on the docs queue too ( https://github.com/IQSS/docs.zeligproject.org/issues/15 )  but seems to be an actual code problem, and not a Sphinx/VM issue.

<img width="501" alt="screen shot 2017-04-13 at 1 18 36 pm" src="https://cloud.githubusercontent.com/assets/2085037/25016003/47051e68-204c-11e7-8d0a-a60e228f3cda.png

[2017-04-13 18:17] tercer opened #255 "Quantile model broken"
The example in the docs for calling a ``quantile`` model appears to be broken.

<img width="460" alt="screen shot 2017-04-13 at 2 15 29 pm" src="https://cloud.githubusercontent.com/assets/2085037/25018032/df2f0d0a-2053-11e7-89b3-28a9fce25b5f.png">

[2017-04-13 19:19] tercer commented on #253
There's an error of this type all the way back in the Quickstart guide:

<img width="882" alt="screen shot 2017-04-13 at 3 17 24 pm" src="https://cloud.githubusercontent.com/assets/2085037/25020484/9127daac-205c-11e7-8295-705517e2da0c.png">

[2017-04-13 19:20] tercer commented on #253
See also https://github.com/IQSS/docs.zeligproject.org/issues/18

[2017-04-14 05:15] christophergandrud commented on #253
Are the Sphynx builds version controlled? It would be nice to be able to figure out when this all started, especially since we can't replicate it locally.

[2017-04-14 05:26] christophergandrud commented on #251
This is really a case study in why the docs should be written with the package locally in line with roxygen and then not pushed publicly, including to the website, until they have passed all tests (8 minutes is a long time, but better than having the front facing docs be broken).

I was holding off on this process until NaLette came and OpenScholar figured out whatever it is that they need to figu

[2017-04-14 06:27] christophergandrud commented on #250
Here are the results:

[code]

this is the polr model:

[code]

[2017-04-14 06:41] christophergandrud commented on #250
Looks like the `weights` in Zelig aren't being passed to the model call, i.e.:

[code]

[2017-04-14 07:15] christophergandrud commented on #250
@tercer and @cchoirat: what is the status of weights? They are listed in their field description as “forthcoming”. But Zelig doesn’t throw any warning if the are used and there is a lot of code written for them in the `zelig` method.

It looks like in this case that `zelig` just ignores them. Is this the anticipated behaviour?

[2017-04-14 07:35] christophergandrud commented on #255
`rbind_all` issue addressed in f4e32b4da530f14bc50712f0a484f7de8b99b15b

[2017-04-14 08:13] christophergandrud commented on #255
Seems to work if `tau` isn't explicitly specified, e.g.:

[code]

[2017-04-14 08:32] christophergandrud commented on #255
Fixed for `tau` of length 1 in 69957ba074009a3249586339206168eaa24c29ff with tests.

The issue persists for `tau` of greater than length 1, which is documented in: http://docs.zeligproject.org/en/latest/zelig-quantile.html

[2017-04-14 10:07] christophergandrud commented on #255
Some thoughts in this branch: https://github.com/IQSS/Zelig/commit/9e1654dfac5344af212368bd085b49ceee33eb06

Is there any documentation on this `rse`: https://github.com/IQSS/Zelig/blob/master/R/model-quantile.R#L57

[2017-04-14 13:07] tercer commented on #250
They are pretty generally adopted across models.  There are some fields that define how weights are used in any particular model.  I can see if they are not implemented in this model correctly.

[2017-04-14 13:09] tercer commented on #253
No.  But it does build a pdf (that no one has access to https://github.com/IQSS/docs.zeligproject.org/issues/5 ) which we could easily be storing.

[2017-04-14 15:20] tercer commented on #255
Here's when ``tau`` became a ``by`` variable: https://github.com/IQSS/Zelig/commit/fe632f23b42aea7d6c7188d4b9b0d855d0c396d4#diff-8224f3ab9d3ff85ddc2436ab3bf76e8e

Not sure what it is accomplishing?

[2017-04-14 15:23] tercer commented on #255
Updated the quantile doc example with ``tau``>length 1, to specify the dataset location.

[2017-04-18 12:23] christophergandrud commented on #255
Did some more digging. I am not sure how this worked from being ported over to Zelig 5. However, for the time being, Zelig returns an error for tau length > 1: b13b20d448a3990b79f6d3a5e10517b67eb3e1ea.

It basically now works through until `plot`, but more work needs to be done on the quantities of interest.

[2017-04-18 12:23] #255 closed

[2017-04-18 12:23] christophergandrud commented on #255
I'll update the docs.

[2017-04-18 12:26] christophergandrud commented on #255
Docs updated in: https://github.com/IQSS/docs.zeligproject.org/commit/03d1889569510356e78ea2dc4f17299997575b40

[2017-04-18 12:57] christophergandrud commented on #252
Resolving the `ZeligPlyrMutate` issue may have created the `sim` issue.

When `ZeligMultilevel` is build the following warning produced is:

[code]

So the errors in https://github.com/IQSS/Zelig/issues/253 could be caused by `arm::sim` not being able to find a way to handle the Zelig object.

[2017-04-18 13:34] christophergandrud opened #256 "Future dplyr release returns error at check"
Hi,

This is an automated email to let you know about the release of dplyr,
which will be submitted to CRAN in the near future (May 11).

* Major changes: <https://blog.rstudio.org/2017/04/13/dplyr-0-6-0-coming-soon/>
* All changes: <https://github.com/tidyverse/dplyr/releases/tag/v0.6.0-rc>
* Backward compatibility guide:
<http://dplyr.tidyverse.org/articles/compatibility.html>

To check for pote

[2017-04-18 13:47] christophergandrud commented on #252
Turns out the `sim` import issue was it.

I set `eval=FALSE` for all code chunks in the docs with `library(ZeligMultilevel)` and the `sim` error went away. https://github.com/IQSS/docs.zeligproject.org/commit/b2e1582b4f93c8984e287d6174434b3e1fe7746b

E.g.: http://docs.zeligproject.org/en/latest/zelig-quantile.html

[2017-04-18 13:47] #252 closed

[2017-04-18 13:48] christophergandrud commented on #252
We need to set it back to `eval=TRUE`, eventually, but my understanding is that ZeligMultilevel is being completely rewritten without **arm** is that correct @cchoirat?

[2017-04-18 14:09] christophergandrud commented on #251
Formula added in https://github.com/IQSS/ZeligGAM/commit/68bf9ece628c335e550506bcb7c2046a192e679b

[2017-04-18 14:09] #251 closed

[2017-04-18 14:36] christophergandrud commented on #256
I wasn't able to replicate this with the dplyr dev-build

[2017-04-18 14:36] #256 closed

[2017-04-18 14:54] christophergandrud commented on #254
Need to load the suvival package, e.g. 83bf6c6cb3a76faf0dad42dce3f0748a866615b0

[2017-04-18 14:59] christophergandrud commented on #254
Need to think of a more elegant solution, but closing for now.

[2017-04-19 19:49] tercer commented on #254
One solution is to upgrade the `survival` package to `Depends` to make sure it is attached rather than just loaded.  Here is it working in this example:

<img width="687" alt="screen shot 2017-04-19 at 3 44 09 pm" src="https://cloud.githubusercontent.com/assets/2085037/25199100/ac86ba56-2517-11e7-9b37-fd0a0a2026f2.png">

Here's a patch with that solution if that works for now: 375d2efb5eb4d60d867b

[2017-04-20 12:39] christophergandrud commented on #254
Patch merged into master in d865edcbdc31f43649e5052533fdd666443bf367

And docs updated in: https://github.com/IQSS/docs.zeligproject.org/commit/5a0756c88dcff679176f716a25b1ff51a5d75630

[2017-04-20 12:39] #254 closed

[2017-04-21 19:41] christophergandrud opened #257 "Relogit with feasible range of tau not working"
Error observable in current docs:

http://docs.zeligproject.org/en/latest/zelig-relogit.html

[code]

[2017-04-25 14:24] christophergandrud opened #258 "User defined weights don't seem to be passed to logit.survey"
In docs: https://christophergandrud.github.io/Zelig/articles/zelig_logitsurvey.html#example-3-user-has-replicate-weights:

[code]

returns

[code]

[2017-04-25 21:58] cchoirat opened #259 "Confidence interval from relogit regression"
Received via email:

I am using Zelig for rare event logistic regression. I am conducting the following regression in R:

[code]

How do I pull confidence interval for beta_0 and beta_1 from the relogit regression? and how do I estimate for example the P(Y =1/X =some value).

[2017-04-26 13:07] christophergandrud opened #260 "More informative error for relogit tau = 0"
See https://github.com/IQSS/Zelig/issues/259.

[2017-04-26 13:21] christophergandrud commented on #259
Hello emailer.

First thing, in your example you supply `tau = mean(y)`. Here `mean(y) = 0`. However, `tau` should be the true proportion of  "1"s in the outcome. So it can't be zero. If it is then there isn't much point estimating the model and it will return an error. Though admittedly we could make the error more informative.

Second, there isn't a built in function at the moment for relogit to

[2017-04-26 13:21] #259 closed

[2017-04-26 22:23] christophergandrud commented on #260
Done in 63dc8e9d75ed0e282aa0b6b230a0e534d30edf17

[2017-04-26 22:23] #260 closed

[2017-04-27 15:25] christophergandrud opened #261 "Convert web docs to RMarkdown"
also involves internalising vignettes

[2017-05-02 15:28] christophergandrud commented on #261
Note that model vignettes' URLs will be separated by `_` rather than `-` (e.g. `zelig_normal.html` rather than `zelig-normal.html`).

This will require an update in the model reference URLs in the main packages.

[2017-05-02 20:26] christophergandrud commented on #239
Set to `cite = FALSE`

[2017-05-02 20:26] #239 closed

[2017-05-02 20:28] christophergandrud commented on #225
Need to get this working with ivreg. But will save this for 5.1-1

[2017-05-02 20:28] #225 closed

[2017-05-02 21:29] #241 closed

[2017-05-02 21:54] christophergandrud commented on #257
Resolved in 27313649c39a65bf031769100c160ec64ccfaa47 by preventing multiple `tau`. Users can estimate via multiple zelig calls.

[2017-05-02 21:54] #257 closed

[2017-05-03 00:24] christophergandrud commented on #261
Almost finished with a first build (https://github.com/christophergandrud/Zelig/commit/a1703a1710e7c774f39de186e4c67496ccba7943). Two outstanding major issues:

- The *doc* folder with the vignettes is now large (>8mb) and may get dinged by CRAN.

- ZeligGAM seems not to really work from the `setx` stage (https://github.com/IQSS/ZeligGAM/issues/2) ZeligMultilevel is also unstable. So these are not

[2017-05-03 22:54] christophergandrud commented on #261
*doc* folder size issue resolved by not building the vignettes into the package.

The new website should be ready to go after proofing.

[2017-05-04 13:00] christophergandrud commented on #253
This issue is resolved in the new docs (temporary URL: https://christophergandrud.github.io/Zelig/articles/getters.html)

I'm also going to add in some examples from the Google Groups discussion: https://groups.google.com/forum/#!topic/zelig-statistical-software/B3lhSwsvwsw

[2017-05-04 13:00] #253 closed

[2017-05-04 17:10] christophergandrud commented on #245
fyi: `ATT` wrapper added

[2017-05-04 17:46] christophergandrud commented on #245
Should we import this vignette into the Zelig site and update the syntax? https://r.iq.harvard.edu/docs/matchit/2.4-15/Examples2.html

Seems like it is as much about Zelig as MatchIt and would be good to point to.

[2017-05-04 17:50] christophergandrud opened #262 "MCMCpack changes"
received via email:

Dear package maintainers,

I’m the maintainer of MCMCpack.
I’m sending this email to inform you of the recent change in MCMCpack that may affect your packages.

If your packages directly use C functions from MCMCpack (e.g. Zelig, back, and sizeMat as far as I know), you’re certainly affected by this change.
If your packages depend on MCMCpack through NAMESPACE, then this chang

[2017-05-04 21:18] christophergandrud commented on #262
There is perhaps an internal issue in MCMCpack that needs working out:

When I run a `normal.bayes` Zelig test with the new MCMCpack (attached in Jong Hee's email), I'm given the error:

[code]

This seems to correspond to the change you mentioned. However, when I run the example given in the `MCMCregress` documentation:

[code]

I get the same error.:

[code]
It looks like `MCMCregress` isn't pas

[2017-05-05 00:47] christophergandrud commented on #262
Got an email from Jong Hee. Seems the issue I reported was correct. So now waiting for them to introduce a fix on their side.

I guess give them until early next week to see if they come with an updated MCMCpack before releasing 5.1-0?

[2017-05-05 15:32] tercer commented on #153
Enabled for all models.

[2017-05-05 15:32] #153 closed

[2017-05-05 15:33] tercer commented on #154
Enabled for all models.

[2017-05-05 15:33] #154 closed

[2017-05-05 15:33] tercer commented on #158
Enabled for all models.

[2017-05-05 15:33] #158 closed

[2017-05-08 17:04] christophergandrud commented on #261
Docs converted and merged into master 69c74fbf0b0f38b609134ee98984c6b8225397b

[2017-05-08 18:28] #261 closed

[2017-05-08 18:30] christophergandrud opened #263 "normal.gee with Amelia imputed data"
From Fernando Bizzarro:

[code]

estimates the model.

The following does not:

[code]

instead returning:

[code]

[2017-05-08 18:30] #223 closed

[2017-05-08 18:31] christophergandrud commented on #262
Appears to be addressed by: https://github.com/IQSS/Zelig/commit/ec94cc9a9bbee730c77185ad5213d11a33f66641

[2017-05-08 18:31] #262 closed

[2017-05-08 19:15] christophergandrud commented on #263
It appears that geeglm accepts as its `id` argument a vector the same length as the estimation data frame. With MI data it must be using the column for all of the combined MI data set.

[2017-05-08 20:38] christophergandrud commented on #263
Resolved. estimation, `setx`, and `sim` work.

Though `combine_coef_se` returns:

[code]

[2017-05-08 20:47] christophergandrud commented on #263
Use naive vcov matrix as indicated in: https://stats.stackexchange.com/a/20440

[2017-05-08 20:59] christophergandrud commented on #263
Should be resolved in d4f5f7d3dfab03557f8d4fa246d91f03226db682

[2017-05-08 20:59] #263 closed

[2017-05-09 12:32] #245 closed

[2017-05-09 13:49] christophergandrud commented on #243
Sorry for the late reply (we've been working on some large updates). In Zelig version 5+ you probably want to do something like:

[code]

Hope that works. Just let me know if you have any other issues. I'll be updating the MatchIt docs to reflect this new workflow as well.

[2017-05-09 13:49] #243 closed

[2017-05-09 13:53] christophergandrud commented on #232
Now that the Zelig website is built to fail on errors and include ZeligChoice examples, I think we have made good progress towards this functional goal.

[2017-05-09 13:53] #232 closed

[2017-05-09 13:55] christophergandrud commented on #150
Sorry about the late reply @adamobeng . Do you still have the patch you mention up and running?

[2017-05-09 14:02] christophergandrud commented on #163
The README and quickstart now use the wrappers. Will work over the summer to port the rest of the docs.

[2017-05-09 14:02] #163 closed

[2017-05-09 14:12] Jason5Gao commented on #243
Hi christophergandrud
I followed your code above, yet can't find function ATT, which package is it in anyway.

further, using the demo(analysis),  I encountered same error as @jefunes when it comes to this line

ate.all <- c(s.out1$qi$att.ev, -s.out2$qi$att.ev)
from [here](https://r.iq.harvard.edu/docs/matchit/2.4-15/Examples2.html)

[2017-05-09 14:22] christophergandrud commented on #243
I've also removed the demo as it is out of date. That syntax is no longer supported at all.

[2017-05-09 17:31] christophergandrud opened #264 "Broken vignette URLs"
I forgot to change `en/latest/` in the vignette URLs to `articles/`.

Sorted in e4bfef274f06b038ebeeddb9f07b6ea866879ee5

[2017-05-09 17:31] #264 closed

[2017-05-09 22:04] adamobeng commented on #150
No worries, @christophergandrud. I think my patch got merged: https://github.com/IQSS/Zelig/pull/149

[2017-05-10 03:07] #150 closed

[2017-05-16 15:10] christophergandrud opened #265 "ZeligChoice from_zelig_model with mlogit"
This relates to `mlogit` models from ZeligChoice: `from_zelig_model` not working:

[code]

[2017-05-16 15:12] #242 closed

[2017-05-16 21:33] christophergandrud commented on #265
Resolved in: eff48a0bb02d3bc57e4c7ddd9e410bfd4189c10d

With tests added in ZeligChoice: https://github.com/IQSS/ZeligChoice/commit/482ff6e394e7823cedc49e29ae23e9a49001cdd0

[2017-05-16 21:33] #265 closed

[2017-05-17 13:08] christophergandrud opened #266 "Include full list of getters in getter docs"

[2017-05-17 13:41] christophergandrud opened #267 "get_pvalue and get_se not working for mlogit"

[2017-05-17 13:45] christophergandrud opened #268 "be able to use combine_coef_se with non-MI/bootstrapped"
It might be useful to have `combine_coef_se` return the coefs, se, p-values, etc for non MI and bootstrapped models as a convenience.

[2017-05-17 15:42] christophergandrud commented on #266
Added in 9e2496115eb8e4509a0ea3b5d1990216784a73e9

[2017-05-17 15:42] #266 closed

[2017-05-17 15:46] christophergandrud commented on #267
E.g. this should work:

[code]

[2017-05-17 17:26] christophergandrud commented on #267
Done in 71f037deb6d5e39b8fcb2a2dbc7bddf4e99f72d9

Tests in https://github.com/IQSS/ZeligChoice/commit/67f50571c9981a998198eb664262e7827cad1261

[2017-05-17 17:26] #267 closed

[2017-05-17 18:02] christophergandrud opened #269 "have get_se wrapper for get_se method"

[2017-05-17 18:53] christophergandrud commented on #269
Addressed in ceb6daa609ef5c6e9e3480ec35d815bed7785af8

[2017-05-17 18:53] #269 closed

[2017-05-17 18:54] christophergandrud commented on #268
Addressed in ceb6daa609ef5c6e9e3480ec35d815bed7785af8

[2017-05-17 18:54] #268 closed

[2017-05-22 19:31] christophergandrud commented on #258
Another, similar issue with `weights` in http://docs.zeligproject.org/articles/zelig_normalsurvey.html:

[code]

[2017-05-22 20:21] christophergandrud commented on #258
The first message I don't think is a problem (it refers to a missing `weights` argument)

[2017-05-22 20:46] christophergandrud commented on #258
On the second issue, it seems that `weights` were not being passed through `callSuper` (maybe something to do with `locaWeights`?) unless they were the actual vector, not just the variable name.

As a fix, I added a function to extract the weights as a vector if they are specified by name or formula prior to the `callSuper` call: https://github.com/IQSS/Zelig/commit/74774215e797fd928af0ed7e2ab1934

[2017-05-22 20:46] #258 closed

[2017-05-23 13:12] christophergandrud commented on #141
Hi @adamobeng Would you be willing to make this a pull request. I'ld like to consider it for an upcoming Zelig release

[2017-05-23 14:21] christophergandrud commented on #250
Looks like the `weights` argument is hardcoded as `NULL`, which would prevent the user defined `weights` from being passed: https://github.com/IQSS/ZeligChoice/blob/master/R/model-obinchoice.R#L35

[2017-05-23 14:23] christophergandrud commented on #250
Removing the hard coding produces:

[code]

[2017-05-23 14:48] christophergandrud commented on #250
The results are different for the Zelig weights and `polr`:

Zelig:

[code]

`polr`

[code]

[2017-05-23 14:59] christophergandrud commented on #250
I guess Zelig and `polr.fit` use different weighting procedures in this cases.

Should we stick to the Zelig method and maybe inform the user that results are likely to differ or try to pass the weights to the `model.call`?

[2017-05-25 11:59] christophergandrud commented on #206
I'm going to close this issue. Rewriting the `qi` functions seems like a separate issue.

[2017-05-25 12:00] #206 closed

[2017-05-25 13:33] christophergandrud commented on #141
Merged in 3c13ff0a02eb334539c603df453993ee2f802345

A few quick notes:

I shortened the argument to `odds_ratios`. In the output `(OR)` rather than `(odds ratio)` also for brevity.

The commit also documents the argument in the vignette and adds a test.

[2017-05-25 13:33] #141 closed

[2017-05-25 13:53] christophergandrud commented on #82
This will be in https://github.com/IQSS/RobustSE

Need to work on Zelig integration once RobustSE is releasable.

[2017-05-25 13:53] #82 closed

[2017-05-25 13:54] christophergandrud commented on #77
This will be in https://github.com/IQSS/RobustSE

Need to work on Zelig integration once RobustSE is releasable.

[2017-05-25 13:54] #77 closed

[2017-05-25 15:27] #250 closed

[2017-05-25 20:04] christophergandrud commented on #189
Created an experimental implementation of the last part of this workflow: `to_zelig`, which is run inside of `setx` if a non-zelig object is passed to it: https://github.com/IQSS/Zelig/tree/setxdirect

This will now work:

[code]

The key code is at: https://github.com/IQSS/Zelig/blob/setxdirect/R/interface.R#L1-L33

Note that currently it only works for `lm` and doesn't work with updated formulas

[2017-05-28 12:35] retrography commented on #88
Since this seems to be a fundamental issue and has taken long to address, I would like to suggest a temporary work around for those users who are affected. I use RStata to run my relogits in Stata while all the data steps and the rest of my analysis are in R.

Here is how it works:

[code]
This takes its data from your data frames and returns the results within the R interface, so there is no need

[2017-05-31 15:05] christophergandrud commented on #189
`glm` models for logit, gamma, poisson, probit, (and glm ls): https://github.com/IQSS/Zelig/commit/28662843aa935a61c5b441ffa32edac80df58061

[2017-06-01 14:01] christophergandrud commented on #189
Current possible zeligverse workflows as of e1b74eb17d56f5c8c54dd5e53372703744491c27

![screen shot 2017-06-01 at 09 59 48](https://cloud.githubusercontent.com/assets/1285805/26683211/138a8416-46b1-11e7-9ca9-09736fba2970.png)

[2017-06-02 12:14] christophergandrud opened #271 "Missing error message for setx and sim for ZeligEI"
`setx` and `sim` don't do anything for ZeligEI objects. They should give an informative error message if used with ZeligEI objects. E.g.:

[code]

`setx` does not give a warning and `sim` does say that no simulations were drawn, but not why.

[2017-06-02 12:59] christophergandrud opened #272 "remove setx, sim from ZeligEI docs"

[2017-06-02 21:19] christophergandrud commented on #272
Done in 7fef123470f0c879fcd11c89d329ef056188d928

[2017-06-02 21:19] #272 closed

[2017-06-02 21:19] christophergandrud commented on #271
Done in 7fef123470f0c879fcd11c89d329ef056188d928

[2017-06-02 21:19] #271 closed

[2017-06-02 21:25] christophergandrud commented on #271
Also made it so that `summary` doesn't encourage users to use `setx` next for ZeligEI objects.

[2017-06-05 18:41] mbsabath opened #273 "Normal Survey Regression Example 1 has inconsistent results"
[code]

Results from the Normal Survey Regression example 1 on my machine don't match the results in the vignette. The results are independent of the random seed used. My personal theory as to the cause of this is that there is a vector of weights mentioned in the code, as well as in the text of the vignette, that is not created or included as part of the data set up code.

## Published Results:

[2017-06-05 19:55] christophergandrud commented on #273
Thanks for reporting this @mbsabath. I'll take a look.

[2017-06-05 21:23] christophergandrud commented on #273
Actually, the more I think about it, and in conjunction with thoughts from @cchoirat and @izahn, I think we should deprecate Zelig survey and replace it with a vignette on using the **survey** package with `to_zelig`.

Consistently and accurately passing all of the possible *survey* arguments and design objects has been difficult and hard to test.

The relevant parts of the actual output from `sur

[2017-06-06 12:56] christophergandrud commented on #273
Rather than completely deprecating zelig survey in an upcoming release maybe we should have it:

- Issue a warning saying that it is unstable and then

- Give a link to a vignette on how to use `to_zelig` to convert `surveyglm` fitted model objects in `setx`.

[2017-06-06 16:00] christophergandrud commented on #273
Implemented in 21171f7ef036db294142f18ebc7924850c144bdc

I wonder if the warning's wording should be stronger. Currently:

[code]

https://github.com/IQSS/Zelig/commit/21171f7ef036db294142f18ebc7924850c144bdc#diff-2f97fa35a7a84d0f068f3e1c1f31c742R28

[2017-06-06 16:01] christophergandrud commented on #189
Relevant discussion at: https://github.com/IQSS/Zelig/issues/273

[2017-06-06 16:02] christophergandrud commented on #189
I think `to_zelig` experimental version could be included in version 5.1-2.

It is fairly stable for the limited range of models it supports and doesn't seem to break anything. There is also documentation introduced in: 21171f7ef036db294142f18ebc7924850c144bdc

[2017-06-07 15:03] christophergandrud commented on #273
Merge into master and ready for CRAN release

[2017-06-07 15:03] #273 closed

[2017-06-07 15:04] christophergandrud commented on #189
Initial to_zelig merged into master and ready for CRAN release.

[2017-06-07 15:04] #189 closed

[2017-06-12 15:44] christophergandrud opened #277 "quantile regression with Amelia data"
From Arisha A Ashraf via email:

I tried using the following for quantile regression on my imputed datasets, but this doesn’t recognize the combined imputed data file from Amelia.

[code]

The only thing that works is using each (of my 5) imputations individually. This isn't too inconvenient, but I'd prefer to learn the most efficient command possible

[code]

[2017-06-12 15:51] christophergandrud commented on #277
Addressed in https://github.com/IQSS/Zelig/commit/46479a260c12620fd56016ee99fd0ac0323e8628

Note: also exposed an issue with `vcov` with quantile models. This is resolved by: https://github.com/IQSS/Zelig/commit/46479a260c12620fd56016ee99fd0ac0323e8628#diff-cbb7235afee10c3646161358a7655b0aR670

[2017-06-12 15:51] #277 closed

[2017-06-12 19:35] mbsabath opened #279 "Incomplete Vignettes for some Zelig models"
Opening this issue after observing that the AR time series model vignette only includes basic syntax. We can use this to track the Zelig models with incomplete vignettes.

Models with incomplete Vignettes:
[AR](http://docs.zeligproject.org/articles/zelig_ar.html)
[MA](http://docs.zeligproject.org/articles/zelig_ma.html)

[2017-06-12 20:02] mbsabath opened #280 "Zelig 4 compatibility wrapper doesn't work for ARIMA models"
Code ran:
[code]
Output:
`Error: arima is not a supported model type.`

[2017-06-16 17:23] christophergandrud commented on #280
As a first step I updated the docs to indicate that the wrappers don't work for `arima` (or `ma`): a2af2e4005a11e69d9177e67b0b91f61046ee6ac

I've been trying to work on a solution to this, but it is taking a bit of effort to figure out how the timeseries wrappers work. . .

[2017-06-20 16:12] mbsabath opened #283 "`cs` and `by` are equivalent for time series models"
The potential for conflict between them exists, with unknown impact.

[2017-06-20 18:27] christophergandrud commented on #283
Resolved in 4745e71

[2017-06-20 18:27] #283 closed

[2017-06-20 19:21] mbsabath opened #284 "Zelig ARIMA, AR, and MA models may be redundant"
Is there any reason we have separate AR, MA, and ARIMA models? AR and MA are both just special cases of ARIMA, and having a single ARIMA type function would likely be easier for users. Looking at the code, from what I can tell, the only difference between them is that using the AR and MA models automatically sets the order to be `c(1,0,0)` or `c(0,0,1`) respectively.

[2017-06-21 05:16] christophergandrud commented on #284
I'm leaning towards having one `timeseries` model where a user could set `model = 'ar'` or `model = 'ma'` for convenience.

[2017-06-21 15:59] mbsabath opened #285 "Stray "$$"s in some online vignettes"
Found one instance of this issue in the vignette for the standard Gamma regression. I took a look at the Rmd file, and the solution isn't immediately apparent.

[2017-06-21 16:02] mbsabath opened #286 "Core Binary choice models not listed in the Zelig inheritance Tree."
Neither Logit, nor Probit are displayed in the available models image. The correct inheritance path would be glm -> binchoice -> logit/probit.

[2017-06-21 16:40] mbsabath commented on #286
Bayesian Ordered Probit Models are also missing

[2017-06-22 14:08] christophergandrud commented on #286
Thanks for spotting. Resolved in https://github.com/IQSS/Zelig/commit/f8ae55f1dfa33200a8fad74aa1dc4bbcda300d3b

(note that we are updating the networkD3 package so that the words are better spaced).

[2017-06-22 14:09] christophergandrud commented on #285
Yep some of those exist. `$$` opens or closes a display equation in Rmarkdown. We just need to make sure that every `$$` that is opened is correctly closed with another `$$`

[2017-06-22 15:40] mbsabath commented on #285
Fixed it in Gamma. I'm going to comb through the other vignettes now to see what others have the problem.

[2017-06-22 15:51] mbsabath commented on #285
normal-gee has issues in the online vignette, but the Rmd code doesn't match the html. Maybe pkg-down hasn't been run recently?

[2017-06-22 15:55] mbsabath commented on #285
All others cleaned up, minus normal-gee. pushing the changes to the Doc Update branch now.

[2017-06-22 19:01] #285 closed

[2017-06-22 19:43] mbsabath opened #287 "sim method returns error for AR and MA models"
going through the examples in the arima vignette, except with AR and MA models, as well as the order parameter remove returns this error when ```ts.out$sim()``` is run:

[code]

[2017-06-23 06:41] christophergandrud commented on #287
@tercer do you know the status of `sim` for AR and MA models? Was this implemented?

[2017-06-23 14:41] mbsabath commented on #287
I did a bit of digging into the issue on a local branch, the issue looks like it has two parts. First, AR and MA only inherit from timeseries, but not from ARIMA, and ARIMA has the qi method causing the initial issue.

However, even when they do inherit from ARIMA, there are still issues. `sim` doesn't initially throw an error when it's called. But when `summary(ts.out)` is called after running si

[2017-06-30 15:43] mbsabath commented on #287
Doing a bit more digging into this, it looks like the sim method is also not fully implemented for ARIMA models.

[2017-06-30 15:52] christophergandrud commented on #287
Really good digging. I wouldn't be surprised if it hasn't been fully
implemented, qi's for timeseries are really tricky.

At the least in the meantime the docs should flag this issue.

On Fri, Jun 30, 2017 at 5:43 PM Ben Sabath <notifications@github.com> wrote:

[2017-06-30 16:11] mbsabath commented on #287
Sounds good, I made the changes, and am going to push them up to GitHub soon.

[2017-07-05 19:50] mbsabath commented on #287
After further investigation, fixing the inheritance issue allows plot to work for the ar and ma methods. The errors that occur after calling summary are still consistent for all of the time series models, and require further investigation.

[2017-07-10 15:37] RobertFeyerharm commented on #243
I encountered the same error even after loading the most recent version (5.1.2) of Zelig.

An alternative solution advocated by Ho, Imai, King, Stuart on page 4 of the MatchIt documentation (located at http://r.iq.harvard.edu/docs/matchit/2.4-20/matchit.pdf) is to estimate the ATE using the parametric model applied to the matched data (described on page 12 of , setting the explanatory variables to

[2017-07-17 05:53] christophergandrud opened #290 "zelig_qi_to_df with factor variables"
This comes from a question raised by Mariana Giusti on the Google Groups page:

If a model has a factor level variable (e.g. country fixed effects) then `zelig_qi_to_df` only returns the quantities of interest for the first factor level. For example:

[code]

Ideally, it would return all of the simulated quantities of interest (or allow the user to choose.

[2017-07-22 06:34] christophergandrud commented on #290
The issue is actually that the other levels aren't fitted in `setx`, Zelig only finds the model group and fits for that. To fit other levels, these need to be set in `setx`, e.g:

[code]

[2017-07-22 06:34] #290 closed

[2017-07-27 15:36] ppdebem opened #291 "R treating relogit model as lm instead of glm?"
I extracted the fitted model from a Zelig (relogit) object with the `from_zelig_model` function and as i try to use it to predict on a new dataset i keep getting this warning:
[code]
The prediction goes through despite the warning, but is that alright?

[2017-07-29 06:29] christophergandrud commented on #291
Hi @ppdebem. Thanks for your query.

I'm unable to reproduce the behaviour you mention using the documented example:

[code]

`predict` doesn't return an error when used with this `model_out`.

Could you provide a minimal reproducible example we could look into?

[2017-07-29 09:40] christophergandrud opened #292 "Conflict with new version (0.1.0.9000) of pkgdown"
There appears to be a conflict with the new version (0.1.0.9000) of pkgdown on Hadley's GitHub page or its dependencies. When this is installed, even if it is not loaded (which has really stumped me), if `zelig` is run it returns an error that the formula argument has been unused. So no model is estimated.

Here is an example:

[code]

[2017-07-29 13:18] ppdebem commented on #291
Something must be wrong with my side of things then, if i call the predict function on the model generated by your example it also throws the warning:

`p <- predict(model_out, mid, type="response")`
`Warning message:
In predict.lm(object, newdata, se.fit, scale = 1, type = ifelse(type ==  :
  calling predict.lm(<fake-lm-object>) ...`

...and the prediction still goes through anyway:

`head(p)`

I

[2017-07-29 16:21] christophergandrud commented on #291
Hm, that is strange. Have you terminated your R session and restarted (maybe there is some sort of package conflict)?

[2017-07-29 17:06] ppdebem commented on #291
Starting a clean session didn't seem to work. I tried it in a fresh R install in another computer and the same keeps happening. Here is my R version info and loaded packages:
[code]
Not sure what could be the problem, i'll keep looking.

[2017-07-30 05:22] christophergandrud commented on #291
What version of Zelig are you using?

[2017-07-30 12:27] ppdebem commented on #291
I was using version 5.1-2 straight from CRAN. I just tried it with the github version (5.1-2.9000) but its still doing the same.

[2017-07-30 12:51] christophergandrud commented on #291
Hm, this seems like a really difficult issue to diagnose if I can't reproduce the problem. Have you ever had a period where you were able to use `predict` with `relogit`?

[2017-07-30 14:29] ppdebem commented on #291
Unfortunately it was like this since the very first time i tried it.

I decided to try it in a linux install (ubuntu 17.04) thinking it might be related to my windows/R installations but i still got the warning using my data and same example from above.

[2017-08-01 14:30] izahn commented on #291
Here is a reproducible example:
[code]
Note that
[code]
does *not* produce the error (refer to `predict.glm` to see why).

[2017-08-01 15:15] mbsabath opened #293 "Graphs are missing interpretable labels"

[2017-08-01 18:13] christophergandrud commented on #293
Hi @mbsabath.  Could you upload an example image and the code producing it?

[2017-08-01 18:43] christophergandrud commented on #291
Thanks @izahn. Simple fix in 1535f43c71e061505d1052e1047ca69683fd6190

[2017-08-01 18:43] #291 closed

[2017-08-01 18:48] #279 closed

[2017-08-01 18:51] christophergandrud commented on #292
Initial thought is that the problem might spring from the rlang package. However, the connection is not obvious as having rlang installed and loaded (both from CRAN and version 0.1.1.9000 that is installed by depended on by pkgdown) does not cause the error.

[2017-08-01 18:56] christophergandrud commented on #292
It does occur as soon as pkdown is loaded.

The only way I've found to resolve the issue is to delete all of the non-base packages and reinstall them. Just removing pkdown and its dependencies does not seem to work. This is true even if pkgdown was installed and loaded in `devtools::dev_mode()`.

[2017-08-01 19:02] christophergandrud commented on #292
Posted an issue over on pkgdown to see if they have any ideas.

[2017-08-01 20:32] mbsabath commented on #293
yup, it's just a general issue with graph labeling, this example uses the `ls` model.

[code]

Result:
![rplot](https://user-images.githubusercontent.com/10625643/28845735-ff090e44-76d6-11e7-9bf8-5900316a07ae.png)

[2017-08-01 20:34] mbsabath commented on #293
X and X1 aren't clear without knowledge of Zelig, the axes aren't labeled, and the scales aren't consistent, making interpretability and comparison difficult

[2017-08-01 20:56] izahn commented on #292
I'm able to reliably reproduce this with the development version of `rlang`, and not with the CRAN release of `rlang`. I can even git bisect it to https://github.com/izahn/rlang/commit/529727a355f8688a6a18b15a833071e78e0f2621

Here are the steps you can take to see if you get the same thing as I do:

1. `git clone https://github.com/tidyverse/rlang.git`
2. Start a new R session and run
[code]
This

[2017-08-01 21:08] izahn commented on #292
Assuming that I'm right about `rlang` being the source of the problem, I can't for the life of me figure out what the problem actually is. It chokes at

[code]
in the `zelig` method. And now for the weird part: putting a `browser()` call right before that section of code I see the following:
[code]
So... `model.call` and `.self$model.call` are `all.equal`. But the `do(...)` bit works for one but n

[2017-08-02 02:19] christophergandrud commented on #292
Nice work @izahn. (I now realise my problem that I was making the incorrect implicit assumption that switching in and out of `dev_mode` affects the environment.)

The bisect definitely seems to point to the right problem.

I'll move the link to the issue over to rlang.

[2017-08-02 02:52] christophergandrud commented on #292
For the time being also, we can get around the pkgdown issue by just reinstalling rlang from CRAN.

However, having the issue fixed is crucial before the next rlang release as dplyr depends on it. If Zelig effectively doesn't work if a user has dplyr installed, then that is a big problem.

[2017-08-02 10:19] christophergandrud commented on #292
A quick response from rlang: https://github.com/tidyverse/rlang/issues/226#issuecomment-319588716

Seems promising that they might work out a solution on their end. . . .

[2017-08-02 12:56] christophergandrud commented on #292
Appears to be sorted from the rlang side by https://github.com/tidyverse/rlang/commit/e469466ef75996b89bcc2552ba0e313247d78821

[2017-08-02 12:56] #292 closed

[2017-08-05 01:53] retrography commented on #88
I have to add here that the estimates from the Weighted correction method are fundamentally different from those of the same model on Stata at least for very rare events.

[2017-08-05 18:33] christophergandrud commented on #287
I've taken the `ar` and `ma` models out of the documentation (still needs to filter through the website). They were just (very buggy) wrappers for `arima`. Until they are actually working well, we shouldn't publicise them.

[2017-08-07 10:35] retrography commented on #88
@christophergandrud Or you need to go back to the old matrix inversion routine used in Stata. See my post above. One or the other software is going very wrong in its estimations, and I won't bet my money on the R implementation.

[2017-08-07 13:51] retrography commented on #88
@christophergandrud I fixed the performance issue in #294. No need to rewrite the C code. But major differences in the estimates (between R and Stata when using the Weighting method) persist. Zelig's reference manual does point out possible "slight" differences, but what I observe is much more than a slight difference. Neither the size of the estimates nor their significance is anywhere close to e

[2017-08-07 16:57] christophergandrud commented on #88
Thanks for the update. It might be good to loop in @cchoirat as I think she may have a better sense of what's going on (I think from looking at the git history that she did most of the coding on it).

[2017-08-07 17:00] cchoirat commented on #88
Actually, it was ported from Zelig 4.  Happy to look into it though.

On Mon, Aug 7, 2017 at 6:57 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-08-07 17:03] retrography commented on #88
@cchoirat If you can't reproduce the issue, I can provide a sample dataset, but I suspect any sample dataset would do. And don't forget to apply #294 before running Zelig's relogit function on a large dataset. Will save you hours!

[2017-08-07 17:05] retrography commented on #88
@christophergandrud Probably it is a good idea to open a new issue for this discussion, because the performance issue is already fixed.

[2017-08-07 17:09] christophergandrud commented on #88
Yeah, @cchoirat I had a feeling that was the case. Any idea who the original author was?

[2017-08-07 17:09] christophergandrud commented on #88
Good idea @retrography on a new issue.

[2017-08-07 17:11] christophergandrud opened #295 "Discrepency between relogit results in Stata and R"
Original comment at: https://github.com/IQSS/Zelig/issues/88#issuecomment-320387775

[2017-08-07 17:37] cchoirat commented on #88
No, but it seems it was already available in Zelig 3 (
https://r.iq.harvard.edu/docs/zelig.pdf, p. 493).  Maybe @tercer knows more
about the model history?

On Mon, Aug 7, 2017 at 7:09 PM, Christopher Gandrud <
notifications@github.com> wrote:

[2017-08-14 06:23] christophergandrud commented on #295
Sorry @retrography I should have asked earlier, can you provide the data and R code you used to create: https://github.com/IQSS/Zelig/issues/88#issuecomment-320387775

[2017-08-14 06:25] #88 closed

[2017-08-16 17:35] mbsabath commented on #293
Submitted Pull Request for this issue [https://github.com/IQSS/Zelig/pull/297](Pull Request 297)

[2017-08-19 10:38] christophergandrud commented on #295
After some digging, I don't think the large weighting discrepancy has to do with matrix inversion procedure.

Here are a number of examples using the *mid* data set included with Zelig:

In Stata:

[code]

vs. the two procedures in Zelig (https://github.com/IQSS/Zelig/blob/master/R/model-relogit.R#L259):

[code]

[code]

Caveat: I'm not sure if the latter is equivalent to the Stata routine. But th

[2017-08-19 10:52] retrography commented on #295
I haven't got the time to go back to my data and make a sample for you yet, but it seems you have already made a headway on the issue. These are very interesting findings that will probably make me go and revise all the figures in my paper...

One thing I have noticed is that King & Zeng (2001) insist that weighting is the better method when the data is large and there is a possibility of model mi

[2017-08-19 11:13] retrography commented on #295
I confirm that with your modification and the robust standard errors explained in the above link, the results from Stata and R is just short of being identical:

Stata:

[code]

R:

[code]

[2017-08-19 13:49] retrography commented on #295
OK, I found it in the paper. See King & Zeng (2001), Page 147, Formula 11. They clearly mention that it is W1 that we use in the calculation of ksi. The Stata version seems to have the right implementation.

[2017-08-20 06:19] christophergandrud commented on #295
Thanks for digging into this some more.

I need to discuss why the changes were made (both to `W1` and removing robust standard errors from Zelig). I know Gary's thinking about the latter has changed, but not sure if the reason for the change is consistent here.

[2017-08-20 08:35] retrography commented on #295
Again, I think it is necessary that we add all the reasoning behind the changes to the documentation so that the users know what they are doing. The documentation still refers to the 2001 paper and I have included parts of the explanations in the paper in my thesis, while now I find out that the implementation does not correspond anymore to what I have cited! Rather problematic if you think about

[2017-08-20 08:53] christophergandrud commented on #295
Definitely, trying to figure out and document all the undocumented changes
has been a big endeavor.

[2017-08-22 05:24] christophergandrud opened #299 "setx with arima returns error, but not setx1"
Looking into an issue reported in https://github.com/IQSS/Zelig/pull/298 by @mbsabath , it seems like `plot` for `arima` models--specifically when creating `acf` plots doesn't recognise `setx` simulations, but does find `setx1`:

[code]

But

[code]

returns the expected plot:

![image](https://user-images.githubusercontent.com/1285805/29549856-d993d3da-870a-11e7-8f47-f74f27fa5edd.png)

[2017-08-23 15:50] mbsabath opened #300 "No way for Users to customize graph labels"
Passing in standard plotting variables to `plot` (such as `xlab = "some text"` or `main = "title"`) has no effect on the output graphs. Passing these directly to `qi.plot` also has no effect.

[2017-08-24 15:36] mbsabath commented on #299
I'm working on this issue, and I fixed the issues in the plotting wrapper that lead to the initial error, but the issue remains that `qi` isn't generated when only `setx` is run. I have a theory on how to fix this, but I want to get feedback on my pseudocode before going forward.

If `setx` has been called, but `setx1` has not:

- generate `mm` type object based on the algorithm used in `set` for

[2017-08-24 20:18] mbsabath commented on #299
I have a fix that's working on my computer. see commit 8b8868d24d38208b1f31bd01b67607019c3fe2f7.

[2017-08-24 20:51] mbsabath commented on #299
All checks are currently passing on the branch

[2017-08-25 14:55] christophergandrud commented on #299
Thanks for this @mbsabath. Could you bring this branch up-to-date with master? There seem to be some merge conflicts when brought up to speed with master.

[2017-08-25 15:02] mbsabath commented on #299
Yup. I branched it off of the branch implementing the wrapper for time series. I'll merge things on my machine and get things into that pull request?

[2017-08-25 15:02] christophergandrud commented on #299
sounds good

[2017-08-25 15:58] mbsabath commented on #299
Just updated the pull request

[2017-08-26 06:24] christophergandrud commented on #299
That seems to work great @mbsabath. Thanks so much for your work on this!

My only question now is what (if anything) is `setx1` supposed to do with `plot` for `arima`? The following produces the same plot (e.g. there are no first differences for the second example) for the version in https://github.com/IQSS/Zelig/pull/289:

[code]

Relatedly `summary` for an `arima` Zelig object with `setx1` retu

[2017-08-28 15:10] mbsabath commented on #299
That summary error is persistent, I haven't quite figured out how to fix that yet. The issue is that `qi` for time series are not easily printed out. The lack of difference is definitely a bug, I can go into the code today to figure out where the issue is coming from (Probably just a mis-specified `if` condition).

My personal feelings on what `setx1` should do are this: if only `setx1` is called,

[2017-08-29 05:21] christophergandrud commented on #299
Thanks for looking into this. Let's talk about this in the call today.

[2017-08-31 17:32] cchoirat opened #301 "Broken menu link in webpage"
In https://zeligproject.org/, menu item `Software -> Download` points to http://docs.zeligproject.org/en/latest/installation_quickstart.html#installing-r-and-zelig, which doesn't exist anymore.  Page seems to have been removed from the new docs http://docs.zeligproject.org/index.html.

[2017-08-31 18:19] mbsabath commented on #301
Odd that the automated link checker missed this. Do you or @christophergandrud where in the project the main website page lives? We could be missing a directory with out checker.

[2017-08-31 19:59] mbsabath commented on #301
Nevermind, looks like the initial landing page exists outside of the automatically generated documentation. That explains why we're not seeing it with the checker and missed it during our initial work.

[2017-09-06 05:48] christophergandrud commented on #301
I've updated the link to: http://docs.zeligproject.org/articles/quickstart.html#installing-and-loading-zelig

However it doesn't seem to have propagated from the OpenScholar interface to the deployed site yet. Will check later

[2017-09-08 05:25] #301 closed

[2017-09-11 05:45] christophergandrud commented on #295
Returned the coefficient correction to ISQ 2001, eq 11 in https://github.com/IQSS/Zelig/commit/76eed2d4825a9ef3918f49b6845447eaef6fb1d3

Still thinking about the implementation of robust standard errors, namely should this just be for relogit with weighting or should it be a more general feature.

[2017-09-14 14:43] #284 closed

[2017-09-22 06:17] christophergandrud commented on #295
https://github.com/IQSS/Zelig/commit/ef042ad49d004eb3105a0605ca5e96a2c038c166 also applies the robust standard errors for `summary` such that they almost match the Stata version:

[code]

compared to Stata:

[code]

Still need to implement for `sim`

[2017-09-22 07:04] christophergandrud commented on #295
Should now be sorted in https://github.com/IQSS/Zelig/commit/b3d3e5997ac72fead1d088ea4fc25343edf5d463 including for `sim`

[2017-09-22 07:04] #295 closed

[2017-09-22 10:40] retrography commented on #295
@christophergandrud I know this issue is already closed and I don't want to repopen it. But I really have to thank you for verifying and rectifying the issue.

[2017-09-22 17:11] christophergandrud commented on #295
No worries @retrography. Thanks for reporting and all of your work on this!

[2017-09-23 06:21] christophergandrud opened #302 "Odds ratios for relogit"

[2017-09-23 07:26] christophergandrud commented on #302
For example:

[code]

[2017-09-23 07:35] christophergandrud commented on #302
Added in a08b1fd58a3baf2622d02b6f159743b021526171

[2017-09-23 07:35] #302 closed

[2017-09-28 15:16] christophergandrud commented on #96
Appears not to be a problem any more:

[code]

[2017-09-28 15:16] #96 closed

[2017-09-28 19:19] nmbrodnax opened #303 "Move object documentation from vignettes to docs"

[2017-09-28 19:20] nmbrodnax opened #304 "Consolidate and revise vignettes into user and developer guides"

[2017-10-02 15:21] christophergandrud opened #305 "`summary` error with arima with sim"
Originally reported in https://github.com/IQSS/Zelig/issues/299

[code]

[2017-10-02 15:21] christophergandrud commented on #299
Resolved by https://github.com/IQSS/Zelig/pull/289

Excluding the `summary` error. Which is now addressed in its own issue: https://github.com/IQSS/Zelig/issues/305

[2017-10-02 15:21] #299 closed

[2017-10-02 15:26] christophergandrud commented on #287
Going with `arima` overall syntax. `summary` issue reported separately in https://github.com/IQSS/Zelig/issues/305

[2017-10-02 15:26] #287 closed

[2017-10-02 15:27] christophergandrud commented on #280
Resolved in https://github.com/IQSS/Zelig/pull/289

[2017-10-02 15:27] #280 closed

[2017-10-02 16:00] christophergandrud commented on #305
The error is solved in: 4f2dc6b5284217895c9194be29addd26daebe4e9

However, it reveals what I suspected in https://github.com/IQSS/Zelig/issues/299#issuecomment-325093050 that `setx1` isn't doing anything here:

[code]

I don't really think this is a problem (in time series, usually the QI is about changes over time rather than compared to other values of the covariates, though this could obviously

[2017-10-02 16:02] christophergandrud opened #306 "only setx1 appears to do anything with arima models"
From https://github.com/IQSS/Zelig/issues/305

[code]

[2017-10-02 16:02] christophergandrud commented on #305
Reporting the latter in a new issue: https://github.com/IQSS/Zelig/issues/306

[2017-10-02 16:02] #305 closed

[2017-10-05 12:37] nmbrodnax opened #307 "sim() error with differenced first-order autoregressive model"
[code]

produces

`Error in apply(beta, 2, mean) : dim(X) must have a positive length`

I was able to reproduce this error with different data and different `setx()` parameters

[2017-10-05 12:55] christophergandrud commented on #307
(Just for documentation purposes) noting that this seems similar to, but different from https://github.com/IQSS/Zelig/issues/305.

[2017-10-05 15:34] christophergandrud commented on #306
I'll add a warning that `setx1` is ignored.

[2017-10-06 05:53] christophergandrud commented on #307
Does this commit resolve the issue: 3b5c71df030325a74beea9858ede44c0fed4b743?

[2017-10-06 12:03] nmbrodnax commented on #307
Yes, everything works on my end.

[2017-10-06 12:03] #307 closed

[2017-10-07 06:30] christophergandrud opened #308 "Need more informative error message when user supplies data that does not exist to arima models"
For example:

[code]

[2017-10-07 15:50] christophergandrud commented on #308
Solved in c86e778f9d8977e4bf3cfe65e188dc5b9593b75e

[2017-10-07 15:50] #308 closed

[2017-10-08 16:53] retrography commented on #302
Great addition. Thanks.

[2017-10-08 20:45] retrography commented on #295
@christophergandrud There is an issue here. If I call relogit through the zelig function the robust standard errors, and odds ratios work. If I call relogit directly, non works.

[2017-10-08 22:44] retrography commented on #302
@christophergandrud I just had a look at the code and the way you are calculating the SE Odds Ratio is almost certainly wrong.

While coefficient odds ratios can easily be calculated using `exp(coef(model))`, the same method can not be applied to the standard error. This seems to be exactly what you are doing:

https://github.com/IQSS/Zelig/blob/4f2dc6b5284217895c9194be29addd26daebe4e9/R/utils.R#L

[2017-10-09 05:11] christophergandrud commented on #302
Ah good catch (sorry I just quickly ported over the code from `logit`). Will fix now . . .

[2017-10-09 05:37] christophergandrud commented on #302
Quick fix in 466c97cd072a2fbc45bfb120ca4d0cfb54362e0c

It seems to work with the example from [ref](https://www.andrewheiss.com/blog/2016/04/25/convert-logistic-regression-standard-errors-to-odds-ratios-with-r/), but just let me know if you see anything.

[2017-10-09 05:46] christophergandrud commented on #295
Hm, I'll look into it.

In the meantime, please use `from_zelig_model`, e.g.:

[code]

[2017-10-09 05:48] christophergandrud opened #309 "relogit function not working"
First reported in: https://github.com/IQSS/Zelig/issues/295 by @retrography

Example:

[code]

[2017-10-09 12:53] retrography commented on #295
@christophergandrud No, it actually doesn't work, because it returns the results from the relogit function, so you get the same old. See below.

[code]
Gets you:

[code]

[2017-10-09 13:14] retrography commented on #309
@christophergandrud You get this because `r.out` truly doesn't exist, because the identifier you used was `r.out1`. I don't think this is what I reported! ;)

[2017-10-09 14:09] christophergandrud commented on #309
Updated

[2017-10-09 14:11] christophergandrud commented on #295
Yes, you don't get the odds ratios, that doesn't work yet. You have to manually add them to the output of `from_zelig_model(z.out1)`.

[2017-10-09 14:13] retrography commented on #295
@christophergandrud The problem is not the odds ratios. Compare the two results above. What is missing is the robust standard errors. I am actually using the `from_zelig_model` function for the second one.

[2017-10-09 14:20] christophergandrud commented on #295
Yes none of it is working. I won't have time to get to this for awhile, so in the meantime if you want to use this function with a separate package you would have to extract the basic estimation and hack your way to the rest.  :)

[2017-10-09 14:21] retrography commented on #295
@christophergandrud That's why I am doing right now.

[2017-10-09 14:24] christophergandrud commented on #295
Sorry for the inconvenience and thanks for reporting these issues!

[2017-10-12 05:52] christophergandrud opened #310 "ATT doesn't report SE or CI"
From Eric Meng via email:

"I estimate ATT through the command “ATT”... However, it only yields estimates of mean, median, and IQR without SE or 95%CI. Is there a way to deal with that?"

[2017-10-12 06:01] christophergandrud opened #311 "ATT with Matchit Weights"
From Eric Meng via email:

"do I have to specify "weights" in the Zelig command on purpose if it is run right after MatchIt, because it is said that "Weights that are creating using the matching mechanisms in the MatchIt package will be automatically employed in Zelig analyses if the output object from MatchIt is passed to Zelig as the data argument." in http://docs.zeligproject.org/articles/weigh

[2017-10-16 18:33] nmbrodnax opened #312 "extracting individual (or pooled) imputed datasets"
Email from a user:

I have imputed twenty datasets using Amelia, and subsequently used Zelig to perform a logit GEE analysis on the datasets. This works very well, but I would now like to do some model selection using QIC or MLIC. There appear to be some packages available in R which will give me QIC values, but they do not seem to work on a Zelig object. Is there a method of extracting individual

[2017-10-17 05:20] christophergandrud commented on #312
`from_zelig_model` would be my place to start. It extracts the fitted model object from the `zelig` object.

However, I haven't tested it in this case. So please give it a shot and report back.

[2017-10-17 05:53] christophergandrud commented on #311
I believe the issue is the use of the `match.data` call within the `zelig` call.

This is unnecessary and, because it returns a data frame rather than a matchit object removes `zelig`'s ability to know about the weights.

So, if you don't use `match.data` everything should work as normal.

I'm going to close this issue, but feel free to reopen if it doesn't solve your problem.

[2017-10-17 05:53] #311 closed

[2017-10-17 06:04] christophergandrud commented on #310
`att` + `get_qi` returns a vector of the simulated values for this quantity of interest.

For example,

[code]

When you run `summary` on this, the normal base-R `summary` returns its normal summary statistics (e.g. IQR).

You can find other summary statistics using the standard methods for a vector of values. For example, standard error of the mean:

[code]

[2017-10-17 06:04] #310 closed

[2017-10-17 14:53] idglover commented on #312
Yep, this worked a treat thankyou. The from_zelig_model extracted the fitted models, and then I used the following function from the MESS package to get the QIC:

ExtWisModel<-from_zelig_model(GeeWisModel)
QIC(ExtWisModel[[1]])

where 1 is the 1st imputed dataset of the twenty.

Many thanks!!!!!

[2017-10-17 17:46] christophergandrud commented on #312
Glad to hear the solution worked!

[2017-10-17 17:46] #312 closed

[2017-10-18 05:12] christophergandrud opened #313 "testthat new release issue"
From Hadley via email:

This is an automated email to let you know that:

* A new version of testthat is ready to go to CRAN. testthat is
  currently at version 1.0.2.9000 and will become 2.0.0 upon release.

* Zelig uses testthat and has problems with the new version.

* We plan to submit testthat to CRAN on Nov 13.

I need your help to keep Zelig and testthat working together smoothly.
In the ne

[2017-10-19 06:07] christophergandrud commented on #313
Addressed in ad98e69aec06f2fd1af05d09baf33d70b2456037

[2017-10-19 06:07] #313 closed

[2017-10-19 15:28] christophergandrud commented on #306
- `setx` should set the baseline

- `setx1` should represent a shock

Currently `setx` is overwritten by `setx1`

`summary` for `sim` should show QI for each time point

[2017-10-20 15:30] christophergandrud commented on #309
`relogit` is intended exclusively as an internal function and so `summary` is not supported. Please use `zelig` with `model = relogit`.

Documentation is now clearer on this point: be652cbda815279197ec4f37c613365fcfc5967b

[2017-10-20 15:30] #309 closed

[2017-10-21 06:00] christophergandrud commented on #306
Documenting some digging:

In `ztimeseries$sim` method `setx1` precedes `setx` unlike in normal `zelig` approach: https://github.com/IQSS/Zelig/blob/be652cbda815279197ec4f37c613365fcfc5967b/R/model-timeseries.R#L173

In `ci.plot` only `x` or `x1` quantity of interest values are plotted: https://github.com/IQSS/Zelig/blob/be652cbda815279197ec4f37c613365fcfc5967b/R/plots.R#L572

[2017-10-21 06:52] christophergandrud commented on #306
Part of our confusion may be caused by the effect size in the example not being very large. If you put in silly values for `setx` (e.g. 10 in the above example) the plot is different, so clearly `setx` is not completely ignored, as we see here in `setx1`: https://github.com/IQSS/Zelig/blob/be652cbda815279197ec4f37c613365fcfc5967b/R/model-timeseries.R#L138

Maybe rather than continuing to fumble ar

[2017-10-28 05:36] christophergandrud commented on #306
After much discussion within the Zelig team. We have decided to deprecate all time series models. It was often unclear what the desired quantities of interest are and how the current implementation aimed to achieve them.

A warning will be added to the models and they will be fully deprecated on 1 February 2018.

[2017-10-28 06:40] christophergandrud commented on #306
Implemented: 82e1e2b6887d83d27e3e60988daebf82753c2026

[2017-10-28 06:40] #306 closed

[2017-11-10 01:59] izahn opened #314 "Tobit expected values incorrect?"
Consider these two models (from the tobit vignette)
[code]
coefs and vcov are the same:
[code]
but the expected values as very different
[code]

Do we expect these to be so different? If so, why?

[2017-11-10 02:20] cchoirat commented on #314
We wrap 'AER' (
https://stats.stackexchange.com/questions/149091/censored-regression-in-r).
We should take a closer look, but it might boil down to predicting Y vs Y*.

On Thu, Nov 9, 2017 at 8:59 PM, Ista Zahn <notifications@github.com> wrote: